[2022-03-01 11:31] mailtodanish commented on #285
Now my code is running and working with below change

Buffer.from(process.env.NEXT_PUBLIC_SWAP_TOKEN_NAME, "**hex**")

[2022-03-01 13:30] aada-finance commented on #375
@vsubhuman wanted to follow up. Is there a plan to get solve this?

[2022-03-01 14:05] radflipper commented on #382
FWIW I ran into the confusion of the new Config and stuff as well but got it worked out from the test example mentioned above, heres some code that worked for me for a basic transaction using ccvault wallet connector as an example let me know if theres a better place to share it but this is the issue that got me to what I needed to know :)

[code]

[2022-03-01 19:16] 0xChief commented on #385
Needed to dynamically import the module. It would error out and not build otherwise

[2022-03-01 19:16] #385 closed

[2022-03-02 06:24] dawar330 commented on #386
Here the code used to generate the mint transaction

const initializeTx = (lib) => {
  const metadata = {};

  const Parameters = getProtocolParameters();
  var TransactionBuilderConfig = lib.TransactionBuilderConfigBuilder.new()
    .fee_algo(
      lib.LinearFee.new(
        lib.BigNum.from_str(Parameters.linearFee.minFeeA),
        lib.BigNum.from_str(Parameters.linearFee.minFeeB)
      )
    )

[2022-03-02 15:37] bakon11 opened #390 "Using add_inputs_from"
Have a quick question on how to properly use `add_inputs_from`. Would greatly appreciate a example for UTXO with assets.

Main problem I am having, is if I have a UTXO with multiple assets in it and I am only transferring a single asset out of it.

Just using `add_change_if_needed` will not take the not transferred assets into consideration.

I started writing a function that will check which asse

[2022-03-02 16:11] code-brewer opened #391 "How to get the '.skey' from PrivateKey object using '@emurgo/cardano-serialization-lib' ?"
Use cardano-serialization-lib, we can derive  spend/signing key, just as:

[code]

But, then,  can `spendKey` be convert to the cbor_hex string (leading with '58') like value in xxx.vkey that generate by cardano-cli ?
 if can, then how to this '58' leading cbor_hex string?

Thanks

[2022-03-02 17:09] radflipper commented on #390
Not sure I follow the multi assets not included part but I just got add_inputs_from working a simple transaction with just an ADA value, heres some code if it helps:

[code]

[2022-03-02 17:15] bakon11 commented on #390
The utxo being passed here from the wallet collector: is it just the `txix` or is it the the whole `txix#index`?

[code]

[2022-03-02 17:43] radflipper commented on #390
The wallet connector returns a hex encoded bytes string of a TransactionUnspentOutput theres probably better way to go from that to the array of TransactionUnspentOutputs required by add_imputs_from but it got the job done

[2022-03-02 17:47] bakon11 commented on #390
So I pass my utxos as an array of objects like so: `[{ txix: string, txIndex: number, inputValue: string }]`

When I get to `Convert provided UTXOs` which in your example it is `convert utxos from wallet connector`

I get the following error: `Deserialization failed in TransactionUnspentOutput because: No variant matched`

As you can see I am only passing the txix without the index, I'm wondering

[2022-03-02 18:13] radflipper commented on #390
in this issue

https://github.com/Emurgo/cardano-serialization-lib/issues/285

@vsubhuman has an example with the txix and index to create an input which I think you can then use to construct a TransactionUnspentOutput something like

[code]
thats allot of copy pasta not something I actually ran so buyer beware ;)

[2022-03-02 18:31] bakon11 commented on #390
AH HA I see now,  let me try something along these lines then.

Thanks.

[code]

[2022-03-02 18:55] bakon11 commented on #390
So I have it working when providing multiple UTXOs with just lovelace in them where it'll calculate everything.

The issue I'm running into, is when I try to spend a UTXO with multiple assets in it and I'm only sending one of those assets to another address and keeping the other two.

I get a `unbalanced UTXO error`, if I just have a single output for the asset I'm trying to send and was wanting t

[2022-03-02 19:08] radflipper commented on #390
Not entirely sure I follow, haven't worked with tx sending other assets but off the top of my head you need to build the tx for multi asset as well as setting a MutliAsset output for whatever asset you're sending, I've seen a couple issues here with multi asset examples but didn't really note them since that wasn't what I was doing at the time. If you go towards the end of tx_builders.rs in the ru

[2022-03-03 16:55] qichalerm commented on #320
I fixed the problem.
small project that I'm trying. https://detools.app
thank very much.

@vsubhuman @rooooooooob

[2022-03-03 20:37] edu-d-rai commented on #381
you can find an example of minting here https://github.com/Emurgo/yoroi-frontend/blob/develop/packages/yoroi-ergo-connector/example-cardano/index.js

[2022-03-04 00:43] rooooooooob opened #393 "Regenerate serialization code"
I've made Emurgo/cddl-codegen#28 that will allow us to respect ALL deserialization formats. This was previously an issue in particular with Plutus datums #317 #313 but would be good to have in general for other structs as well, which would help this library be used for parsing chain data rather than just creating txs.

I've also got another change to `cddl-codgen` mostly done locally that will cha

[2022-03-04 06:52] dawar330 commented on #386
??????

[2022-03-06 01:55] jmhrpr opened #394 "Slot defined as u32 but tx TTL can be u64 on-chain, resulting in deserialisation errors"
While monitoring incoming blocks I have recently encountered some transactions with TTLs larger than `u32`, which results in a deserialisation error when calling `Transaction::from_bytes(..)`. The CDDL specifies slot as `uint`. Is this a known issue?

[2022-03-06 07:46] siegfried opened #395 "TransactionBuilder builds wrong asset names on Testnet"
Asset names of assets on Testnet always get 1 more character prepended.

Reproduce step:

1. On test page:
https://cardano-multi-sig-app-testnet.vercel.app/addresses/addr_test1qzm6nx3eh7wrz8n09360x5vrsqlhzw9eshutkdwn6z7vqd8e2d3q4q05zawavcghxrvsleaaepxe2xuzmaa9c2nudjzsyrk96e
2. Send to any Testnet address, with tADA and assets included. Click `Priview`.
3. It ends up like this: https://cardano-mult

[2022-03-06 07:57] zarej opened #396 "Get auxilary_data from old tx and set it to new one via the constructor Transaction.new results wrong auxilary_data"
Version: "@emurgo/cardano-serialization-lib-browser": "^10.0.4"

I have created transactiob from `cardano-cli transaction build` with option `--cddl-format`. `cborHex` is output of build transaction. From the original transaction I am extracting `txAuxilaryData` and in a new signed transaction I am setting `S.Transaction.new(txBody, witnesses, txAuxilaryData)`. The problem is that I got error on s

[2022-03-06 08:16] #395 closed

[2022-03-06 08:20] siegfried commented on #395
Ok, I did more research. I printed the `AssetName` wrong.

[code]

[2022-03-06 09:10] siegfried opened #397 "Correct way to print policy id of an asset?"
I noticed that to get the HEX string of a `AssetName` is by `name()`, not `to_bytes()`.

[code]

Is it safe and correct to get HEX string of policy ID (type: `ScriptHash`) by `to_bytes()`? `console.log(Buffer.from(policyId.to_bytes()).toString('hex'))`

[2022-03-07 14:56] jmhrpr commented on #397
`to_bytes()` returns CBOR representation so prepends information about the length of the bytestring, `.name()` returns the asset name in bytes. For most cases I'd assume you'd want `.name()`.

[2022-03-07 16:38] siegfried commented on #397
@jmhrpr There is no `.name()` of `Policy ID`.

[2022-03-07 21:50] rooooooooob commented on #394
If you've noticed this on chain already we should probably change this. We had this appear only in pointer addresses before in #364 (fixed with #367) and I have been thinking what to do with other uses where we have things defined as `uint` in `alonzo.cddl` but in most cases they should not be that big like slot index, tx index etc but by the CBOR binary spec they're allowed to be up to 64 bits. I

[2022-03-07 21:54] jmhrpr commented on #394
Seen minute ago in block 6968304, offending tx CBOR:

[code]

[2022-03-07 22:20] jmhrpr commented on #364
@rooooooooob - sorry, just reading your comments closer

It was actually -1 (no idea why though) which underflowed the uint to become 2^64 -1.

If I recall correctly, these values were only less than 2^64 because I was using the CLI or `cardano-address` which truncated the values. It was still possible to [use larger values](https://testnet.cardanoscan.io/address/addr_test1grqe6lg9ay8wkcu5k5e38lne

[2022-03-08 04:34] #397 closed

[2022-03-08 09:19] qichalerm opened #398 "csl-v10.0.4.wasm 404 (Not Found)"
hello

Uncaught (in promise) CompileError: WebAssembly.instantiate(): expected magic word 00 61 73 6d, found 3c 21 44 4f @+0

Thank

[2022-03-08 17:45] olliejm opened #399 "Creating PublicKey from the result of a dApp signData"
Hi, I [started an issue over on the message-signing library](https://github.com/Emurgo/message-signing/issues/12) asking a question about how to go about verifying signed arbitrary data, as there was a lack of examples.

I've not had a response however and there seems to be much less activity over there, so considering that the question also involves this library (perhaps more), maybe someone is a

[2022-03-08 19:55] rooooooooob commented on #399
Hi @olliejm I'm on vacation right now but I did see your issue in the message signing lib. I'm not up to date with to what degree Nami follows the recent updates to the CIP-30 data sign endpoint which affect this. How many bytes is the key you get? It's possible that they've already updated to storing the CBOR bytes of a `COSEKey`. It's also possible it's a CBOR bytes vs raw bytes mix-up if it's 1

[2022-03-08 21:35] olliejm commented on #399
No problem, appreciate the help. Nami has moved to the new API as far as I understand. The `key` string is 84 bytes.

Calling the WASM from node I was able to construct a `SignedMessage` instance from the `signature` value, which I was then able to get the payload back from. I was also able to do `COSEKey.from_bytes` from the `key` without an error - but was stumped on what information I needed ba

[2022-03-08 23:48] gavinharris-dev commented on #399
Hey @olliejm,

I'm not sure how much use this will be but I've been working on adding Signature Verification / Address Verification to the web3-cardano-token project.

https://github.com/gavinharris-dev/web3-cardano-token

Take a look at the [verify.js](https://github.com/gavinharris-dev/web3-cardano-token/blob/main/src/lib/verify.js) file. In here I try to do 2 things:

1. Verify that the address

[2022-03-08 23:57] olliejm commented on #399
This looks like it could be extremely helpful, thank you! I will take a closer look tomorrow evening

[2022-03-09 12:08] zarej commented on #396
The main problem here is when the transaction is regenerated from bytes in `S.Transaction.from_bytes(txBytes)`  it is losing tag 259 and map 0. So from `259({0: { metadata }}) ` we get just `{ metadata }`

[2022-03-09 19:46] olliejm commented on #399
Thanks @gavinharris-dev I think I've managed to get where I need now. I have a couple of questions:

1. `baseAddress` is not declared here - I was able to construct it from `checkAddress`, was the the intention? https://github.com/gavinharris-dev/web3-cardano-token/blob/main/src/lib/verify.js#L112
2. `checkAddress.hash()` here is also not a function - I wasn't as sure this time what type was suppo

[2022-03-09 21:09] mbarbas11 commented on #390
Hey, can you give me some insight on how you did this? I cant quite figure it out.

[2022-03-10 08:39] siegfried opened #400 "`add_change_if_needed` does not calculate fee for NativeScript?"
`add_change_if_needed` does not calculate the correct fee for transactions sent from multi-sig addresses. Here is an example:

https://cardano-multi-sig-app-testnet.vercel.app/transactions/hKMAgYJYIG6zIwOrIEHX%2Fh05BTO4Nbiul6Mi0acMA7%2FDtzTyGlz6AAGCglg5AOQS%2Buq87qmsRuz8yOT2uBUUMfIJdTZXihGvyK26Uct0D1jECr5YEqIm8eWO56Vsliz7m98Lf%2BFmGgBMS0CCWDkwAzhDIFjpiFvESzSX6Dy%2Fj975rmF1Wi9NpzNBbgM4QyBY6YhbxEs0l

[2022-03-10 19:08] mbarbas11 commented on #390
Awesome thanks! Just what I needed, got it working now. I appreciate your help.

[2022-03-10 20:06] ozgrakkurt commented on #379
Hi, I am working on updating the examples. Meanwhile, you can see the guts of JS types here: https://github.com/Emurgo/cardano-serialization-lib/blob/master/rust/pkg/cardano_serialization_lib.js.flow

[2022-03-11 06:53] siegfried commented on #400
I think the way to [add native script](https://github.com/siegfried/cardano-serialization-lib/blob/c0a8f9d232bfe97c845d94a00d10419ae422f67c/rust/src/tx_builder.rs#L318) to the builder can be improved. [To count the right verification key number](https://github.com/siegfried/cardano-serialization-lib/blob/c0a8f9d232bfe97c845d94a00d10419ae422f67c/rust/src/tx_builder.rs#L64), the native script is req

[2022-03-11 08:29] siegfried commented on #400
Please review the PR.

[2022-03-11 20:09] mbarbas11 commented on #383
Having a similar issue, same error. Make any progress?

[2022-03-11 21:50] mbarbas11 commented on #390
Have you attempted to submit the tx made from this code? Not able to generate a "valid" transaction to submit on the cli.

[2022-03-12 08:09] eric248550 opened #403 "The document for cardano-serialization-lib-nodejs"
There have some examples to implement Cardano-serialization-lib, but almost no document to implement Cardano-serialization-lib-nodejs.

Is there any work to add more doc in the future?

[2022-03-13 01:26] mbarbas11 commented on #390
getting an `OutsideValidityIntervalUTxO` error

[2022-03-14 08:04] #379 closed

[2022-03-14 23:27] CherryDT commented on #207
In case someone gets this even though they pass a value: Note that for `max_value_size` and `max_tx_size` you can **not** pass a BigNum, otherwise you'll get this error (confusingly)! Pass a regular number instead.

[2022-03-16 19:53] mbarbas11 opened #406 "Recreate transaction body from CBOR hex of transaction?"
I want to create an external transaction, by passing the CBOR of the unsigned transaction to json. However, the new transaction object requires the transaction body. Is there a way to restore the transaction from the CBOR? Or can I not do it this way.

[2022-03-16 21:03] rooooooooob commented on #406
@mbarbas11 what do you mean to json? Are you using the unmerged branch of #345 ? Or is this JSON external to this library? Or are you just having some object like `{ "cborHex": "0822aabb89797a9ce87565b987a87d8978e975454987987c342984" }`?

If you have the CBOR hex itself you can just use `Transaction.from_bytes(Buffer.from('your hex string here', 'hex'))` which should parse the `Transaction` from t

[2022-03-16 21:10] Koutelier commented on #265
@emurgo/cardano-serialization-lib-browser
this doesn't work with vite?

[2022-03-16 21:52] radflipper commented on #265
I worked with this for awhile and was never able to get it to work correctly the way the Vite docs say it should. I think there's something different about the way the project is set up and the newer method for loading the WASM that vite is calling. IDK anyways there is a non-wasm js package that you can use with Vite if you're willing to give up on the WASM for now, alternatively it does work wit

[2022-03-16 21:57] mbarbas11 commented on #406
Yes, sorry. My JSON has nothing to do with external libraries, just an object passing the hex and derivation path so I can grab the signers needed to make the transaction.

I believe I follow, but I would like to clarify. So with the unsigned CBOR hex string, I can recreate that transaction with `Transaction.from_bytes(Buffer.from('your hex string here', 'hex'))` .

Then following that I can creat

[2022-03-16 22:05] rooooooooob commented on #406
Yeah if the hex is for the entire tx (not the body) that should work. Although for that `metadata` you might want to pass in `tx.auxiliary_data()` unless you're sure that `metadata` is the same as what was in that tx.

[2022-03-16 22:22] mbarbas11 commented on #406
Sounds good. Thanks for the help!

[2022-03-16 22:22] #406 closed

[2022-03-17 18:11] lnmg commented on #285
Hello

I'm having an issue when using add_change_if_needed in a burning transaction.

I've added, along with other inputs that doesn't have native assets, the utxo that has the token to be burned:

[code]

Then i've set the minting inputs:

[code]

And finally the outputs:

[code]

And when I try to add the change with `txBuilder.add_change_if_needed(wasmPaymentAddress);` I get the following error

[2022-03-19 08:05] #398 closed

[2022-03-21 04:29] ozgrakkurt commented on #403
do you mean how to use it from javascript? if yes, here is an [example](https://github.com/Emurgo/cardano-serialization-lib/blob/master/doc/getting-started/generating-transactions.md)

[2022-03-21 07:08] brendansirakydeveloper commented on #119
[MarcelKlammer](https://github.com/MarcelKlammer)

I'm running into the same issue, can you please tell me where in this file is causing that error so I can also comment it out. It's a very big file, i'm not entirely sure where this is being caused from. Thanks in advance

[2022-03-21 07:10] qichalerm opened #407 "how to generate address of a plutus script"
hi, how to generate address of  plutus script ?

Thanks.

[2022-03-21 07:11] MarcelKlammer commented on #119
Search for

require(

there are two lines with that string, one reads

module.require(

the other one reads

require(

Add

module.

then you are good to go.

[2022-03-21 07:19] brendansirakydeveloper commented on #119
Legend! Thanks so much for such a quick reply. Been scratching my head for 2 days trying to work this out.

[2022-03-21 07:29] brendansirakydeveloper commented on #119
[MarcelKlammer](https://github.com/MarcelKlammer)

Your answer worked for when I can comment it out directly in the file, which is good when running this locally.
But when I am pushing this to some live server that is doing the package downloading on build (npm install), this problem persists as it does not have the my commented out changes.
Do you have another idea of how to fix this ?
Thanks for

[2022-03-21 07:33] MarcelKlammer commented on #119
I do compile the web target myself, so it's not a dependency in a package.json, but rather a file that gets transpiled into the final app.

[2022-03-21 10:11] brendansirakydeveloper commented on #119
How did you manage to do this?

[2022-03-21 21:23] ozgrakkurt commented on #382
closing this since we have a working example now: [https://github.com/Emurgo/cardano-serialization-lib/blob/master/doc/getting-started/generating-transactions.md](https://github.com/Emurgo/cardano-serialization-lib/blob/master/doc/getting-started/generating-transactions.md)

[2022-03-21 21:23] #382 closed

[2022-03-22 02:14] ozgrakkurt commented on #285
Hello @lnmg,

the `missing input for some native asset` error happens if there are no inputs or no outputs for an asset. and if I run a very similar code to what you have it is working for me.  Here is the code I used:
[code]

I don't have the mint part but I don't think that should be the problem.
Like I mentioned this issue happens when there are no inputs or no outputs for an asset so you might

[2022-03-22 02:51] ozgrakkurt commented on #407
Hi,

You can get it using the cardano cli like this:
`cardano-cli address build --payment-script-file swap-testnet.plutus --testnet-magic 1097911063 --out-file swap-testnet.addr`

[2022-03-22 23:03] APshenkin opened #408 "Wrong collateral field position in serialized transaction body"
cardano-cli puts collateral filed (13) in transaction body after inputs (0). But `cardano-serialization-lib` order all fields in transaction body. So then if you have transaction body and signature from cardano-cli and try to assemble it with `cardano-serialization-lib` you get invalid transaction

I used https://cbor.me/ to check the problem

here is example of transactionBody from cardanoCli
[co

[2022-03-23 00:29] bolajahmad commented on #288
any reason why i have to add the vkeyWit twice???

vkeys.add(vkeywit)
vkeys.add(vkeywit)

[2022-03-23 01:41] lucas-barros commented on #315
I had this issue and it was fixed with https://github.com/Emurgo/cardano-serialization-lib/issues/295#issuecomment-995943141

[2022-03-23 08:29] ozgrakkurt commented on #285
@lnmg can you try without the minting inputs part and also try to reproduce this with an example and send that one. Meanwhile I am trying to debug this

[2022-03-23 09:29] ozgrakkurt commented on #408
@vsubhuman Does this mean that a tx created and signed with cli won't work if imported with serialization lib? Is this a problem?

Also I found a similar issue [here](https://github.com/dhall-lang/dhall-lang/issues/387)

This might be because we are using a hashmap structure to hold these and we might need to use indexmap or something like that so they stay ordered

[2022-03-23 19:39] rooooooooob commented on #408
@APshenkin Is this causing an issue somewhere? They should both be equivalent in CBOR, and when creating TX hashes, both should be serialized in canonical form (i.e. using the order we have - see CBOR RFC).

There is no "right" or "wrong" ordering in CBOR key ordering unless specified by some other standard (e.g. canonical form for hashing - but the body on-chain can be anything, you only need to

[2022-03-23 20:53] kyle-manuel-franz commented on #303
I agree with this. I am using the spacebudz custom implementation, but I would rather be using the officially supported libraries to make sure updates are included. However, currently, there is no option in this fork.

[2022-03-23 21:02] ozgrakkurt commented on #408
@rooooooooob got it, thank you

[2022-03-25 21:56] bakon11 opened #411 "Attaching Datums to UTXO"
Hi,

I wad wondering if anyone could provide an example of attaching a datum to a UTXO.

Just to be clear I am not looking to attach TX metadata but actual datum to UTXO that doesn't do anything with a Plutus script but just holds arbitary data about the UTXO.

[code]
Adding this to my txBuilder builds a TX that constructs succesfully and submits but the datum is not attached to the UTXO.

Was won

[2022-03-26 20:52] zachyking commented on #411
@bakon11 check here https://github.com/Emurgo/cardano-serialization-lib/releases Release 10.0.0 - 5. Building outputs

`TransactionOutputBuilder.new()
.with_address(Address)
.with_data_hash(DataHash)
...`

[2022-03-27 17:25] totsteps opened #413 "Cardano wallet address verification."
Hi, how can I validate whether a given Cardano address is valid?

The [is_valid()](https://github.com/Emurgo/cardano-serialization-lib/blob/86dc681190521d28a7b5e870ddf8849daca3b3f3/rust/src/address.rs#L246) doesn't seem to work or is there something that I am missing.

Thanks.

[2022-03-27 17:57] ozgrakkurt commented on #413
Hi, can you try `Address::from_bytes` and if it doesn't seem to work can you give more details?

[2022-03-28 13:04] totsteps commented on #413
Sorry I should have provided more details.

What I am trying to do is, validate a given Cardano address by calling a `ByronAddress.is_valid` from
[@emurgo/cardano-serialization-lib-nodejs](https://www.npmjs.com/package/@emurgo/cardano-serialization-lib-nodejs)

Not sure if it's the correct way of doing it, the code looks something like this:
[code]

[2022-03-28 20:42] ozgrakkurt commented on #413
@totsteps Seems to throw error with that code. Can you give me a value where it isn't a valid address and it accepts it or other way around?

[2022-03-28 20:51] SebastienGllmt commented on #413
ByronAddress is one specific kind of address, but there are other kinds of addresses in Cardano. For the general Address type, the only way is to try and parse and then catch if an error is thrown

[2022-03-28 21:39] bakon11 commented on #411
Just had to `CardanoWasm.hash_plutus_data(datum)` the datum before passing it to `.with_data_hash(DataHash)`

[2022-03-28 21:39] #411 closed

[2022-03-30 13:16] TiagoX9 opened #415 "Can't import the named export 'memory'.'buffer' (imported as 'wasm') from default-exporting module (only default export is available)"
I'm having this issue whenever i try to import the package into one of my components via `import * as wasm from '@emurgo/cardano-serialization-lib-browser';`

I'm using create-react-app with Typescript:

[code]

![Screenshot 2022-03-30 at 15 15 03](https://user-images.githubusercontent.com/25739177/160843408-073dd2b5-6e0b-44e0-a791-84cbb9665e9c.png)

[2022-03-30 14:13] iamhamzaawan opened #416 "Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected 'application/wasm'"
I'm building React web app with Webpack and rails, using wasm to load some libraries, deployed on a Live server.
But get the error message on web console: Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected 'application/wasm'

Everything went right when running on local. Struggling for a week but couldn't find any solution, please help me.

the only code related to

[2022-03-30 15:09] ggaabe commented on #416
Hi @iamhamzaawan, which version of Webpack are you running? If you're on Webpack 5+, Have you enabled wasm imports in the [experimental Webpack features](https://webpack.js.org/configuration/experiments/) by setting `asyncWebAssembly: true`?

Also, we tend to import a specific module from `cardano-serialization-lib-browser`, and then access its `default` property once its been imported. See the ex

[2022-03-30 17:27] #390 closed

[2022-03-30 21:48] ggaabe commented on #416
@iamhamzaawan We also had this issue when trying to deploy to iOS; everything worked in dev, but failed in prod. The root cause of this issue was that dev served the files over localhost, but prod served them over the `file://` protocol, which strips the MIME type. In iOS, you have to define custom file extension MIME types in the info.plist file.

This is the change we had to add to the `dict` in

[2022-03-31 10:32] iamhamzaawan commented on #416
Hey @ggaabe thanks for answering my question and helping me. As i am using the webpacker with rails application i am not sure where i can add experiments and `asyncWebAssembly: true` in the app as there is no `webpack.config.js` file where we can add this and for webpacker configuration we use `webpacker.yml`, I have tried adding it in that file but didn't get any results. Also, i have tried appen

[2022-04-01 15:21] ozgrakkurt commented on #415
@TiagoX9 pinging because I just realized the issue is 2 days old

[2022-04-01 15:22] ozgrakkurt commented on #416
This is a general issue with static file servers. You generally need to tell them to serve .wasm files with application/wasm mime type you can find related info on the server you use by googling it with something like `nginx wasm mime type`

[2022-04-01 15:35] TiagoX9 commented on #415
@ozgrakkurt thank you! I will give it a try.

[2022-04-02 06:47] jinglescode commented on #325
@eric248550 are you able to share the code for this?

I'm trying to load "mintScript" into serialization-lib and use it on NodeJs.

I have already a generated "mintScript" (generated by CLI) that look like this:
[code]

I have managed to load private key (generated by CLI) into serialization-lib, and I need a series of serialization-lib code to load this existing policy in to serialization-lib as

[2022-04-02 06:51] jinglescode commented on #329
Hi @eric248550 again. Looks like we are trying to solve the same thing. I tried your suggested:
[code]

It didn't had any error, but its hard to be sure if its the same key as the one generated by cardamon-cli.

@rooooooooob, thanks a lot of answering all the questions that's is in this, I think I'm not that bad a developer, but I can't understand what you're saying =(

[2022-04-02 10:17] talhahussain7 commented on #413
@SebastienGllmt  Yes, The Shelley address has a different address prefix.

How do we detect what type of Cardano address it is tho. Does the lib contain a function for that?

[2022-04-02 10:44] moraisandreua commented on #415
it didn't work for me. I had the same error again.
`Can't import the named export 'memory'.'buffer' (imported as 'wasm') from default-exporting module (only default export is available)`

[2022-04-02 10:53] TiagoX9 commented on #415
@moraisandreua if you are using create-react-app you may need to override the webpack.config to make it work.
There's this package  [react-app-rewired](https://github.com/timarney/react-app-rewired). I haven't try to solve this issue yet though

[2022-04-02 11:20] moraisandreua commented on #415
@TiagoX9 this one works just fine. I'm making a fork of it: https://github.com/dendorferpatrick/nami-wallet-examples/

[2022-04-02 11:25] TiagoX9 commented on #415
@moraisandreua great! But only for Nami though :(

[2022-04-02 11:46] ozgrakkurt commented on #415
@TiagoX9 can you try something like this:
[code]

[2022-04-03 19:57] HT-Moh opened #419 "User has accepted the transaction sign, but the wallet was unable to sign the transaction (e.g. not having some of the private keys"
Hi, I am having an issue to mint NFT
I am getting the following error on `assetsToValue`
`Deserialization failed in ScriptHash because: Invalid cbor: expected tuple 'hash length' of length 28 but got length Len(13).`
Library  `"@emurgo/cardano-serialization-lib-browser": "^10.0.4",`

[code]
[code]
[code]

Error is triggered here `  multiAsset.insert(
      Loader.Cardano.ScriptHash.from_bytes(Buff

[2022-04-04 08:06] mahnunchik opened #420 "Minify ASM package"
It would be helpful to have `@emurgo/cardano-serialization-lib-asmjs` package be minimized by default.

* Current size of `cardano_serialization_lib.asm.js`: 17.4 Mb
* Minimized size: 4.52 Mb

[2022-04-04 12:54] HT-Moh commented on #419
I fixed the issue by changing :

[code]
[code]
Now the tx is build but I have the following error:

[code]

[2022-04-04 13:00] ozgrakkurt commented on #419
@HT-Moh Hi, it looks like the ADA utxo you have isn't enough to pay the transaction fee.

one problem might be if you are calculating the fee and then adding input it will change the fee again so it won't match. Simple way to do it is to add a input like 2-3 ADA and you will get the change back anyway. Also you can check [this](https://github.com/ozgrakkurt/cardano-mint-nft) about minting nfts

[2022-04-04 13:02] ozgrakkurt commented on #416
@iamhamzaawan Hi which http server do you use to serve the static files you have in production mode? I can maybe help you find a solution

[2022-04-06 22:31] ozgrakkurt commented on #419
@HT-Moh the error might be because how you create the witness here:
[code]
I don't think that really produces the private key of the policy. You can read a private key from cardano-cli generated `.skey` file cbor like this:
[code]

[2022-04-07 18:03] lemmon-714 commented on #375
@vsubhuman I second that - alternatively/additionally: Could you share some pointers what the blockers are? Might be simpler for us trying to fix the source instead of cobbling javascript around the base building blocks

[2022-04-08 09:07] kelizarov opened #421 "Get the datum hash of DataHash from pre-built transaction output"
HI. I have a rpoblem with obtaining a Datum hash that is present in my pre-built transaction output.

Case scenario:
1. I build a raw transaction outside of cardano-serialization-lib (in PAB to be precise)
2. Using a forked `cardano-wallet` I try to balance the transaction and provide all inputs to request body. Using MELD's fork https://github.com/MELD-labs/cardano-wallet
3. But for balancing I n

[2022-04-08 12:26] bakon11 opened #422 "get_fee_if_set"
Just quick question when using `get_fee_if_set`.

Using it this way returns `BigNum { ptr: 1203504 }` Just wondering how do I deserialize this to get a readable number?

Thank you.

[code]

[2022-04-08 14:25] iamhamzaawan commented on #416
Thanks for help guys but i finally find the solution. I was using Nginx and I just added the `application/wasm` mime type in config of Nginx and it solved the problem.

[2022-04-08 14:25] #416 closed

[2022-04-09 15:39] eselkin opened #423 "add_inputs_from results in error when using utxos from extension wallets"
Versions - 10.0.4 and 10.0.5-beta1
When trying to add inputs using
[code]
I get this error (the coin selection strategy does not matter, it errors on all of them):

[code]

The utxos are coming directly out of any chrome extension CIP30 wallet (I've tried nami, eternl, and flint). The utxos are initially an array of the hex encoded strings of data. The contents seem correct and I iterate over the

[2022-04-09 17:25] radflipper commented on #423
Check out this issue:
https://github.com/Emurgo/cardano-serialization-lib/issues/390

[2022-04-09 18:31] eselkin commented on #423
I'm stupid. Closing this issue, I was submitting the Transaction as opposed to a hex string of the bytes.

[2022-04-09 18:31] #423 closed

[2022-04-11 23:49] eavalo14 commented on #329
Hey, was this issue resolved? I am currently trying to do the same thing.

[2022-04-12 03:04] tqueri commented on #400
I know it sounds a bit weird, but you can add before the add_change_if_needed the function set_mint with the scripts with an empty Mint object. That way the scripts are getting calculated.

`const mint = Mint.new();
  const scripts = NativeScripts.new();
  scripts.add(multisig.script);
  txBuilder.set_mint(mint, scripts);
`

[2022-04-12 03:10] tqueri commented on #422
`get_fee_if_set().to_str()`

[2022-04-12 03:13] tqueri commented on #419
When calling the function wallet.signTx("...") add the second parameter (partial sign true).
`
wallet.signTx(myTx, true); `

Good luck sir

[2022-04-12 20:18] ozgrakkurt commented on #421
You call `data_hash` on the output object to get the datum hash you can then do `Buffer.from(dataHash.to_bytes().toString('hex'))`

[2022-04-13 03:28] thinhnguyenquoc commented on #403
Do you have some examples for Plutus smart contract integration?

[2022-04-13 18:05] Reaziii opened #424 "How to get the collateral address of a connect wallet?"
How to get the collateral address of a connect wallet?

[2022-04-13 19:18] rooooooooob commented on #424
@Reaziii I'm not sure if this is an issue for cardano-serialization-lib. This library is client-side entirely and has no wallet information. It is used **by** quite a few wallets internally though. Are you talking about the CIP-30 for dApps (webpages) connecting to wallets? If so the API is [here](https://github.com/cardano-foundation/CIPs/tree/master/CIP-0030). As you can see there is no endpoint

[2022-04-14 09:12] Nats08100 commented on #396
Hi there,

I confim this issue using "@emurgo/cardano-serialization-lib-browser": "^10.0.5-beta.1", and also with 10.0.4.

It happens the same way: loosing the tag 259, which prevents correctly submiting the transaction ... :-(

Is there any workaround to apply ?
Or could it be planned to be corrected in a future version ?

Thanks by advance!

[2022-04-14 09:12] HT-Moh commented on #419
@tqueri  thanks.
I set partial sign to true and got
[code]

[2022-04-15 13:27] oskin1 opened #425 "What does 'Inputs do not conform to this spec or are otherwise invalid.' mean?"
Getting this exception when calling `.build()` on TxBuilder.
Can't find this exception in the serlib codebase.

The TX is built like this:
https://github.com/ergolabs/cardano-dex-sdk-js/blob/f8a9db329b63c23b741711b19ad99500305d2a21/src/cardano/wallet/txAsm.ts#L18

[2022-04-15 14:34] jinglescode commented on #425
Could mean many things, for example, sending ADA from a testnet address to a mainet address will also give you this error. It could be anything, so double check everything and check again.

[2022-04-15 14:38] jinglescode opened #426 "How to add multiple metadata hash?"

[2022-04-15 14:59] #426 closed

[2022-04-17 08:34] Karakatiza666 commented on #292
To whoever comes across:
I got this error when I created two redeemers, and gave each maxTxExMem and maxTxExSteps.
In my case, I needed to allocate resources to each redeemer inversely proportional to their total number, e.g.:
const redeemerQty = 2
insertRedeemer(0, maxTxExMem / redeemerQty, maxTxExSteps / redeemerQty)
insertRedeemer(1, maxTxExMem / redeemerQty, maxTxExSteps / redeemerQty)

[2022-04-17 15:05] HT-Moh commented on #419
Unfortunately, nothing works, I tried all possible combinations, this is supposed to be fairly simple I have one policy that I generated and I use it as a witness for the NFT. and using NAMI to sign the tx to pay for the minting.
I tried to sign the tx partially and then submitted it does not work as well, keep getting not helpful errors.
I would like to understand what is wrong with my code.

[co

[2022-04-17 16:49] albertorizzi commented on #320
Hello @qichalerm , Can you help me? I'm minting NFTs creating transaction using Assets.insert(key: AssetName, value: BigNum): BigNum | undefined;, so I can't using Int::new_i32(-1) to burn NFTs, bacause transaction goes in error.

I'm using cardano-serialization-lib version 9.1.4.

thank you

[2022-04-18 06:47] jinglescode commented on #399
Hey @olliejm did you managed to do it?

On the client side, I tried signData with:
1. "old Nami" method (`window.cardano`):
2. "new Nami" method (`window.cardano.nami.enable()`):
3. as well as Eternl (`window.cardano.ccvault.enable()`):

On the server side, I've tried:
1. https://github.com/gavinharris-dev/web3-cardano-token by @gavinharris-dev
2. https://github.com/pyropy/web3-cardano-token
3. Ma

[2022-04-18 12:22] qichalerm commented on #320
@albertorizzi
example

//import CoinSelection
//function TransactionBody

let value = Loader.Cardano.Value.new(Loader.Cardano.BigNum.from_str('0'))

const selection = await CoinSelection.randomImprove(utxos, _outputs , 20 + totalAssets)
const inputs = Loader.Cardano.TransactionInputs.new()

selection.input.forEach((utxo) => {
    inputs.add(
        Loader.Cardano.TransactionInput.new(

[2022-04-18 15:42] albertorizzi commented on #320
Thank you @qichalerm, what version do you using in this example? I'm not sure I'm ne able with 9 version.

[2022-04-18 15:50] qichalerm commented on #320
@albertorizzi
version 10^

[2022-04-19 05:59] HT-Moh commented on #419
Everything works now. thank you.

[2022-04-19 05:59] #419 closed

[2022-04-20 14:02] #422 closed

[2022-04-20 14:13] bakon11 commented on #422
FYI: That presented solution does not work.

Thanks.

[2022-04-20 15:13] bakon11 commented on #422
I stand corrected, I must have been doing something weird when I first tried it haha.

[2022-04-21 09:46] kelizarov commented on #421
I've tried doing `Buffer.from(output.data_hash().to_bytes()).toString("hex")` but that gave the same result, where datum hashes doesn't match what's stored on-chain.

[2022-04-21 09:50] grim-i-am commented on #407
This question is obviously asking how to do it in serialization-lib considering that we are in the serialization-lib issues

[2022-04-24 02:57] EvanXzj commented on #377
it is because Uint8Array.prototype.slice has been changed by some other package that I have installed

[2022-04-27 12:10] lamadeni opened #427 "Updating outputs after adding them to the transaction"
For example, if I have this structure:

**Inputs**
- Address 1 - 100 ADA
- Address 2 - 50 ADA
**Expected outputs**
- Address 3 - 120 ADA
- Address 4 - 30 ADA

And say I want the fee to be charged from the Address 4 output (So instead of it getting 30 ADA it would get 30 - fee ADA).

Is there a way to construct the transaction with the expected outputs and then subtract the fee from them?

The way

[2022-04-29 13:39] totsteps commented on #413
This gets the job done.

@SebastienGllmt @ozgrakkurt thanks for the help 🙏.

[2022-04-29 13:39] #413 closed

[2022-05-02 13:59] vsubhuman commented on #369
Hi! The error "UTxO Balance Insufficient" means the total value of all provided inputs is not enough to cover the required output. I see you are creating the output like this:

[code]

You need to make sure the total value of inputs that are being passed into `txBuilder.add_inputs_from(utxos, 3)` is greater than `nftMoveFixedPrice` plus the transaction fee.

If you can provide an example with spec

[2022-05-03 06:44] mesudip commented on #396
Can confirm.

Submitting the  transaction is giving `ConflictingMetadataHash` errror message

[2022-05-03 08:21] mesudip commented on #396
For  now, workaround is to reconstruct the transaction with the modified `AuxiliaryDataHash`
For this you can  recreate `txBody` and set recalculated `auxiliary_data_hash`

**Note** If you have used other fields like `validity`, `requiredSigners`,  `mint`, `collateral`, ... of the txbody, you will have to set them too
[code]

[2022-05-04 03:03] leobel opened #429 "different transaction hash from cardano-cli"
Hi, I've built and signed a transaction using `cardano-cli` version 1.31.0 here is the final tx:

[code]

If I ask for the transaction hash using this command `cardano-cli transaction txid --tx-file tx.signed` I get the following hash:
`05465e6ac7abb9c11f9ebb57473a100c1810ec719367bf91d05e50c8d4b44e19`.

But if I try to get the hash with `cardano-serialization-lib` version 10.0.4 using this code:

[2022-05-04 03:20] leobel commented on #429
Something I 'd noticed is the other way around the tx's hashes are EQUAL. I mean building and signing the tx with `cardano-serialization-lib` then ask `cardano-cli` for the hash and the result is the same.

[2022-05-04 11:14] kelizarov commented on #421
Okay I'm going to close this issue, because my code was reading utxo data incorrect which led to misinterpreting the datum hashes. My issue was that in raw transaction that I've received from PAB doesn't include all information about the inputs (tx hash and index), so I had to query data about datum hash somewhere else. The datum I've received in code above was actually linked to newly output in t

[2022-05-04 11:14] #421 closed

[2022-05-04 15:57] rooooooooob commented on #429
@leobel It's because of how CBOR works. There are multiple ways in CBOR to represent the same data i.e. the number 2 can be represented with 1, 2, 3, or 4 bytes. Lists/map lengths can either be explicit to start `Len(4), 1, 2, 3, 4` or indefinite with a terminating break like `Len(Indefinite), 1, 2, 3, 4, Break`, or map orders can have their keys in different order. Unfortunately right now cardano

[2022-05-06 09:06] javimaravillas commented on #375
Hi all,
@vsubhuman will be working in this task and we expect to have it completed by Monday 16th if we don't face any big impediment during the road.

[2022-05-06 16:16] Nats08100 commented on #396
Hi there,

thank you for your response @mesudip !

I understand what it deals with, but what I'm missing now, is how to modify "in practice" the auxiliary_data, in order to add the tag 259 and map 0 (which would be the fix finally...).

In my code, I'm working with a transaction which is like that : `84a800818258200aa12e279773dfb3b8ed1...26c61626c61626c61`.

Do you have any sample code that could

[2022-05-07 17:54] sgarbesi commented on #398
@qichalerm did you have a fix for this?

[2022-05-07 20:00] vyastrebovvareger opened #431 "how to create ScriptHash from raw bytes?"
I would like to know is it possible to build the ScriptHash from CurrencySymbol.
I have built a haskell-based web server and I can get UTxOs from it in the base form with PolicyIDs. On the client-side, I have to use the MultiAsset class that needs that ScriptHash. But I failed at this stage. Could you give a hint or help?

Some data from my Web-server :
[code]

JS code:
[code]

[2022-05-08 17:08] AdamMachera commented on #369
Thanks, It is working.

[2022-05-08 17:08] #369 closed

[2022-05-09 23:49] gavinharris-dev commented on #398
I did some digging and I think it is something introduced by the Eternl Wallet: https://github.com/ccwalletio/tracker/issues/119

[2022-05-10 00:08] sgarbesi commented on #398
Disabling the Eterni extension fixed it.

[2022-05-10 11:46] iliketowritecode opened #432 "Burning NFT"
Does anyone know how I would burn an NFT, after it's generated from this example? https://github.com/Emurgo/cardano-serialization-lib/blob/6af4284b32841a13ebe86fdcc6f10dd1d74ddfdc/doc/getting-started/minting-nfts.md

Tried adding the following to the code (after I minted an NFT), but i'm getting a `ValueNotConservedUTxO` error :
[code]

If anyone know's how I would burn an NFT, instead of minting

[2022-05-10 12:12] vsubhuman commented on #432
Hi, @iliketowritecode ! You need to make sure that you are providing the burned NFT on the inputs to the transaction, i.e.:
1. Add input with that NFT present
2. Add negative mint
3. Do not have the NFT mentioned anywhere in the outputs

After that the transaction should work, as long as there's enough input ADA to cover the fees and any change. Check that your transaction has these conditions cor

[2022-05-10 12:26] iliketowritecode commented on #432
Thanks so much for getting back to me so quick. Few more questions if you don't mind!

If i'm burning an NFT, do I need to add a UTXO with enough ADA in it to the inputs (like so):
[code]

Or is the above code only necessary when i'm minting the NFT?

For the different steps you mentioned:

[code]

This is the code for Step 1 and 2, yes? (It adds the NFT "asdNFT5" and the negative amount?)

Are th

[2022-05-10 12:44] vsubhuman commented on #432
You must provide enough ADA to cover the transaction fees and any potential change assets.

For example, if you have a UTxO with a single NFT - it is guaranteed to have some minimal required ADA in in, something like 1.4 ADA, if you put this into the inputs and burn that NFT - there 1.4 ADA will be freed and it will be most probably enough to pay the transaction fees and get the remaining ~1.2 ADA

[2022-05-10 13:58] vsubhuman commented on #432
You are specifying incorrect minting script.

The token in your input UTXO is this `asdNFT5` - https://testnet.cardanoscan.io/token/22aa930e3aa0d0c843b01fa529603929e04c8b5d82ecf2fac3bd10d56173644e465435

It has the policy ID `22aa930e3aa0d0c843b01fa529603929e04c8b5d82ecf2fac3bd10d5`

But in the transaction the calculated mint entry looks like this:
[code]

With the policy ID `d3ac22db7e07e50823a7d

[2022-05-10 17:50] scottbolasevich commented on #398
awesome thanks for the fast response.. sorry to ask such a possibly obvious question but how can i "disable" the Eterni extension? thanks!

[2022-05-10 20:21] sgarbesi commented on #398
It's a Google Chrome extension. Disable Eterni in your extensions.

[2022-05-10 21:53] scottbolasevich commented on #398
haha i see now.. ya that one went way over my head im building a dApp on algorand.. so im working w/ wallet connect etc i figured it was related.. thank you so much !

[2022-05-11 02:21] iliketowritecode commented on #432
Thank you so much! Figured it out. You're a life saver!!!!! Thank you for all your time and assistance on this issue!

[2022-05-11 12:12] #432 closed

[2022-05-13 11:26] vsubhuman commented on #431
Hi, @vyastrebovvareger ! You need to use `.from_bytes`

[code]

[2022-05-13 11:26] AdamMachera commented on #375
Can we ask for example of how to build transaction that passes datum and redeemer so we can check if for this scenario fee is calculated properly. I would like to have a reference to know e.g. if I lock a NFT/ADA in SC, I will be able to redeem it.

[2022-05-13 11:33] vsubhuman commented on #375
This is currently in progress and the new functionality in the tx builder will be available next week

[2022-05-13 11:33] #424 closed

[2022-05-13 11:34] #408 closed

[2022-05-13 12:23] #378 closed

[2022-05-13 12:37] vsubhuman commented on #34
https://github.com/Emurgo/cardano-serialization-lib/pull/345

[2022-05-13 12:37] #34 closed

[2022-05-15 16:37] hazryder commented on #390
@michaelbarbas Could you share your working sample for sending assets? I'm having the same issue you were having, when attempting to send assets from a utxo which contains multiple assets.

[2022-05-15 20:16] jmagan opened #433 "Error: recursive use of an object detected which would lead to unsafe aliasing in rust"
Hi!,

I updated the cardano-serialization-lib-nodejs from 9.1.4 to 10.0.4 and I'm getting this error in arbitrary way:

[code]

I prepare some test code for reproducing the issue. This code:

[code]

The situation is that if I run the code with the node command, it runs without any problem but if I try to debug it and I have a breakpoint on the outputs.add( line, then the error raises.

Thanks

ED

[2022-05-15 20:40] #433 closed

[2022-05-15 22:31] hazryder opened #434 "'UTxO Balance Insufficient' when attempting to build multi asset transaction"
I'm having issues building multi-asset transactions using the serialization lib. I'm able to send transactions with a single asset without issue, but receive the error `'UTxO Balance Insufficient'` when attempting to call `add_inputs_from()` when sending multiple assets from a single policy.

My relevant code is as follows:

[code]

`sendAssets` is an object structured as follows, and can contain

[2022-05-16 11:08] #364 closed

[2022-05-17 08:12] AdamMachera commented on #227
Currently we are using cardano-serialization-lib in version 9.1.4 with Alessandro adjustments

We have following code to

[code]

Currently we are aware that using cardano-cli we cannot "withdraw" from smart contract because version 9.1.4 computes differently hash.
If we move to version 10.0.0.x cardano-serialization-lib we are going to be able to withdraw funds from smart contract using cardano-c

[2022-05-17 11:25] vyastrebovvareger commented on #431
Thank you. Got it already :)

[2022-05-17 11:25] #431 closed

[2022-05-18 04:59] ngua opened #437 "Vasil hardfork compatibility"
Apologies if I've missed anything, but do you have plans to upgrade the library after the Vasil hardfork? I looked through the issues and milestones but didn't see anything related to this

Thanks!

[2022-05-21 21:59] prerak01 opened #439 "no documentation"
Can you please provide a documentation for this library? A list of the methods would be nice. The cardano docs link which is linked in place of documentation is extremely insufficient.

[2022-05-24 04:01] georgeos commented on #399
@jinglescode just in case you haven't solved it. I was receiving the same error in Nami wallet but using the Stake address the error disappears.

You need to do something like this, where `api` is the cardano api of the wallet:
[code]

[2022-05-24 20:10] AdamMachera opened #440 "Example how to interact with smart contract once token is locked"
Hi guys,

I'm trying to migrate my marketplace from version 9.1.4 to version 10.1.0.

I was able to lock token in the smartcontract

[code]

However I'm struggling to figure out what I'm doing wrong when creating e.g. cancelation transaction (commented out code is some leftovers from the version 9.1.4):

[code]

It would be nice if you can provide example of e.g. locking some funds with datum in S

[2022-05-25 11:18] bajian opened #441 "Fee calculated problem"
[code]
On the cardano testnet:
I used the sample code above and got the signed hex:
[code]
Finally,I submitted to the wallet and got the error:

It seems that the cardano node needs the correct fee 172893 , but gets  168669.
The inputs:1310316+1000000000
The code above get output:1000000+1000141647，fee:168669
So,I want to know if my code above is correct?

[2022-05-25 11:24] bajian commented on #441
One of the inputs has a Token, should it need a special situation？
https://explorer.cardano-testnet.iohkdev.io/en/address?address=addr_test1vrer0sh29dde5pzrwcgpc7ka2nn0xwrtheeueh4g76wgz3ccdnlw9

!["token"](https://pic.imgdb.cn/item/628e115b09475431299b3611.jpg)

[2022-05-25 11:26] bajian commented on #441
the signed hex decode is  :
[code]

[2022-05-26 05:31] bajian commented on #441
I have solved this question by learning from https://github.com/Emurgo/cardano-serialization-lib/issues/377
Thanks. @vsubhuman

[2022-05-26 05:31] #441 closed

[2022-05-26 12:12] #394 closed

[2022-05-26 14:20] bakon11 opened #443 "Calculating Cost for Datum Values"
I'm  an including datum values in my cbor like so `witnesses.set_plutus_data(datumFields);`

I am also successfully attaching the Datum hash to my output to be set on the UTXO.

However that doesn't get included in `add_change_if_needed` and when I try `txBuilder.set_plutus_data(datumFields)` I get function doesn't exist.

FYI:
`witnesses = CardanoWasm.TransactionWitnessSet.new()`

This is the exa

[2022-05-27 06:34] iliketowritecode commented on #432
@vsubhuman in this example, how can I burn an item that is in a different wallet than what it was minted in. I can easily burn the NFT if it's in the minting wallet, but how could I burn it, say after I sent it to someone else?

[2022-05-27 06:40] vsubhuman commented on #432
@iliketowritecode , only the minter can burn tokens and only when they own them

[2022-05-30 05:14] 0xtrossets commented on #437
I'm also curious about this.

[2022-05-31 00:48] rooooooooob commented on #437
@0xtrossets @ngua  I can't say what kind of plans Emurgo has, but I can tell you that unless you plan on using the new features the binary(CBOR) produced by cardano-serialization-lib is, with the exception of block header bodies, is binary backwards compatible with the hardfork. I think almost no one is using that part of this lib anyway unless they're using it to read chain data raw. So you can u

[2022-06-01 09:43] bajian opened #444 "Got Fee too small error when inputs belong to the same address"
I met the this error when i submitted the signed hex code to the cardano-wallet:

And I found that it was beacuse of the inputs belongs to the same address.
It should be because the calculated handling fee is smaller than the actual one from wallet.
I don't know whether there is a problem with my code or a bug in this support library.
Please check it for me, thank you！This is urgent for me. My pro

[2022-06-01 09:48] bajian commented on #444
the decode of the signed hex:
[code]

[2022-06-02 11:58] tas2017 commented on #369
Hi Adam. can u share how u fixed this? Im also receiving same error

[2022-06-05 06:47] #316 closed

[2022-06-09 07:32] nntruong96 opened #451 "Failed to load source for dependency `cardano-serialization-lib`"
I try to run npm run android, and i have this issue.

"@emurgo/react-native-haskell-shelley": "^3.1.3",
"react": "^17.0.2",
"react-dom": "^17.0.2",
"react-native": "^0.68.2"

![image](https://user-images.githubusercontent.com/32155558/172790508-b80f4a72-819e-47c1-877e-bb2d87cd52fb.png)

[2022-06-09 10:29] johnrichardrinehart commented on #420
How did you perform the minimization?

[2022-06-09 13:59] mahnunchik commented on #420
@johnrichardrinehart I perform the minimization by monkey patch: https://github.com/CoinSpace/cs-cardano-wallet/blob/master/webpack.config.js

[2022-06-09 14:21] johnrichardrinehart commented on #420
I was confused because this `webpack` didn't seem to do anything with your `index.js`, but I understand, now. `webpack` is _only_ being used with some `Terser`/minification `webpack` modules/pipes to shrink the Cardano serialization library WASM for your import: https://github.com/CoinSpace/cs-cardano-wallet/blob/8e896d9e0422e33cd9a36390f8929f3575ce97eb/index.js#L230-L244 . Totally makes sense.

T

[2022-06-09 14:23] mahnunchik commented on #420
Yes, it is correct 😉

[2022-06-11 18:49] bigirishlion opened #453 "Error when running Jest tests"
I'm currently working on a project that uses Typescript and Jest to test out my library. When I run tests, I'm getting this error:

[code]

Here is my tsconfig.js
[code]
And jest.config.js
[code]

Any idea how to fix this error?

[2022-06-12 10:42] vsubhuman commented on #453
This is unrelated to our library, plz google running jest with typescript

https://bobbyhadz.com/blog/typescript-jest-cannot-use-import-statement-outside-module#:~:text=my%20test%20passes.-,The%20TypeScript%20jest%20error%20%22Cannot%20use%20import%20statement%20outside%20module,its%20own%20cannot%20understand%20TypeScript.

[2022-06-13 04:36] HinaMunir-Hm opened #455 "PPViewHashesDon'tMatch Exception on submit transaction for Cardano serialization-lib version 10.0.x"
On emurgo/cardano serialization versions 10.0.X receiving error on submit transaction that: https://drive.google.com/file/d/1SNpM1LtEDPnZPMQXdz1X_Ujiy_FW9BJW/view?usp=sharing

Also, in emurgo/cardano-serialization version 10.2.0 there is a function in TransactionBulderConfigBuilder.ex_unit_prices() that takes ExUnitPrices Instance, what is the numerator and denominator in ExUnitPrices.new() functi

[2022-06-13 07:26] vsubhuman commented on #455
Hi, @HinaMunir-Hm! The hash error should not be happening on `10.2.0`, plz try and report if you still have the issue.

The ex-unit prices are a protocol parameter, same as linear fee values, for example, they are specified in the Alonzo genesis block and can potentially change with any epoch in case IOHK post a protocol parameter update. Current values for right now can be found here: https://git

[2022-06-13 07:46] bwhour commented on #383
any update about  this issue ?
how to build up register or stake transaction using this lib  ?
are there any documents can we refer to ?

i use /proxy/subbmit interface and got the errors as follwoing:

   '500 - "{\\"code\\":\\"created_invalid_transaction\\",\\"message\\":\\"The submitted transaction was rejected by the local node. Here's an error message that may help with debugging: TxValidatio

[2022-06-13 10:10] HinaMunir-Hm commented on #455
Hello, @vsubhuman! Here is the code that I am using and unable to understand why I receive PPViewHashesDon'tMatch exception on submit transaction. Did I missed something or doing something wrong?

`const finalizeTxForUpdateListing = async ({txBuilder, changeAddress,  utxos,  outputs,  datums,  metadata,  action,  assetUtxo,
  plutusScripts,  newListingDatum,  currentListingDatum,  datumHash,
}) =>

[2022-06-13 11:28] vsubhuman commented on #455
First **potential** problem is in the hash calculating itself, unfortunately there's no enough information for me to know if the parameters you are putting into the `hash_script_data` are correct and match the parameters you are using in the `PlutusWitness`.

Actually, the information you provide with the `PlutusWitness` should be enough for the builder to be able to auto-calculate the required sc

[2022-06-13 17:25] bigirishlion commented on #453
@vsubhuman Thanks for the reply.

I've definitely isolated it to the library because when I remove the package, all the tests work properly. I'm curious if you know of any projects out there that are using Jest to run tests against the asmjs version of the library?

[2022-06-13 17:33] vsubhuman commented on #453
Hi, @bigirishlion! Plz show how you load the asm package when running the tests

[2022-06-13 17:43] bigirishlion commented on #453
I've tried it multiple ways:

Standard import:
[code]

I've also tried dynamically loading the package via:
[code]

Also, if I try without `cardano_serialization_lib` I get this error:
[code]

[2022-06-14 01:32] bajian commented on #444
Any idea about this issue?  @vsubhuman

[2022-06-14 05:50] HinaMunir-Hm commented on #455
@vsubhuman you are right after .signTx I am receiving a new instance of witnessSet and completely replacing the previous one.
Why is this happening and if we set the script, redeemer and datum again in WitnessSet it is only throwing PPViewHashesDon'tMatch exception is there any solution for this?

[2022-06-14 07:00] HinaMunir-Hm opened #457 "Index_of_Input is missing in Cardano serialization library version 10.0.x"
How can one calculate the index_of_input  for redeemers because if it is wrong we get PPViewHashesDon'tMatch Exception on submit transaction.

[2022-06-14 08:17] HinaMunir-Hm commented on #455
@vsubhuman Thank you I found the issue was after calling .signTx I am receiving a new instance of a WitnessSet that completely replace the previous one with the new one.

[2022-06-14 08:17] #455 closed

[2022-06-15 00:35] ozgrakkurt commented on #451
Hi, can you try [this fix](https://github.com/rust-lang/cargo/issues/2078#issuecomment-434388584)? I can't test it since I don't have android env setup

[2022-06-15 07:16] blockchainUni commented on #282
Hi Blake did you figure this out
 ?

[2022-06-15 10:19] SIDANWhatever commented on #415
I exactly trying this so I landed here, it comes up with the same error.

[code]

with below in my component

[code]

<img width="1455" alt="image" src="https://user-images.githubusercontent.com/90688504/173804555-c4d3bdbb-d755-49c7-852f-709c90d41ed2.png">

[2022-06-15 16:00] kugiyasan commented on #439
You can check out [docs.rs](https://docs.rs/cardano-serialization-lib/latest/cardano_serialization_lib/index.html) if you just want the list of methods (every crate published on crates.io gets an auto-generate docs.rs page).

In my opinion though, the auto-generated documentation doesn't help me understand what is a ScriptAll and how it differs from its 4 other similarly named structs.

Personally

[2022-06-18 13:11] tas2017 commented on #268
59077e59077b01000033232323232323232323232323232332232323232223222323253353330073333573466e1cd55cea802a40004642460020046eb4d5d09aab9e500623263533573803603203002e6eb4010cccd5cd19b8735573aa004900011991091980080180119191919191919191919191999ab9a3370e6aae754029200023333333333222222222212333333333300100b00a009008007006005004003002335015232323333573466e1cd55cea8012400046644246600200600460406ae854008c068d

[2022-06-21 23:54] zxpectre commented on #443
I am having a similar situation, and not even ogmios/node is returning the right required fee.
Any updates?

[2022-06-22 19:27] danbigthink commented on #437
I've seen an alpha version 11 kicking around

[2022-06-22 19:54] danbigthink commented on #403
I found that line 1455 https://github.com/Emurgo/cardano-serialization-lib/blob/master/rust/src/tx_builder.rs is a great start for learning this library

[2022-06-22 21:09] vsubhuman commented on #437
There's a beta release available now with all the changes added, you can check the details here: https://github.com/Emurgo/cardano-serialization-lib/pull/463

It will be released as major version 11, once we have everything tested and confirmed

[2022-06-22 21:42] SumenjakZiga commented on #419
Hey, @HT-Moh  can you share the solution? I ran into the same problem.

transaction submit error ShelleyTxValidationError ShelleyBasedEraAlonzo (ApplyTxError [UtxowFailure (WrappedShelleyEraFailure (MissingScriptWitnessesUTXOW (fromList [ScriptHash \"2e5fe74296429d39475e5cdcf3e1587f06d106cccb182a9e67b5a62a\"]))),UtxowFailure (WrappedShelleyEraFailure (UtxoFailure (UtxosFailure (CollectErrors [NoRe

[2022-06-23 09:05] vsubhuman commented on #419
@SumenjakZiga , this error message suggests your transaction is missing a Plutus script redeemer, not a user signature. Can you plz show an example of how you are building your transaction? Specifically, how you add Plutus inputs and how you handle the witness set before building the transaction.

[2022-06-23 09:49] SumenjakZiga commented on #419
Yes, that is what I don't understand. I'm not using a Plutus script, just a multisig mint. Everything works fine, and I can send ADA from wallet to wallet, but as soon as I introduce `add_mint_asset_and_output_min_required_coin` everything starts to fall apart.

Client:
`
const shelleyOutputAddress = Address.from_bech32(this.state.addressBech32SendADA); // Buyer
const shelleyChangeAddress = Addres

[2022-06-23 10:27] vsubhuman commented on #419
@SumenjakZiga , yeah there's a problem in your code that you are not actually passing the script witness along with your transaction to the backend and you are losing it when building the tx with the old deprecated `.build()` function.

When you call `.txBuilder.add_mint_asset_and_output_min_required_coin` - the passed script is actually being added to the underlying witness set in the builder.

W

[2022-06-23 19:47] SumenjakZiga commented on #419
Thank you, it works!

[2022-06-24 12:28] vsubhuman opened #464 "[babbage] `tx_builder.set_total_collateral_and_return` to handle no-return and not-enough-coin cases"
In the beta babbage version (https://github.com/Emurgo/cardano-serialization-lib/pull/463) the function `tx_builder.set_total_collateral_and_return` does not handle two cases correctly:
1. When the specified total collateral matches the inputs exactly (to not add the return)
2. When the calculated return value is not enough as min required coin for a UTxO (to raise an error)

[2022-06-27 12:21] #464 closed

[2022-06-28 05:44] raamb opened #467 "UTXO Balance Insufficient error when using RandomImproveMultiAsset"
We have integrated with Cardano web wallet in our DApp built using ReactJS.

While attempting to transfer tokens we get the error  "UTXO Balance Insufficient". We are passing in all the UTXOs of the user wallet  to the transaction body. In our case, the user has around ~81 ADA and 100 tokens in the wallet, so the user has sufficient funds to make a transfer operation. But when we do a transfer we

[2022-06-28 08:40] rahilparsana commented on #434
same issue

[2022-06-28 09:50] raamb commented on #434
We are likely facing the same issue https://github.com/Emurgo/cardano-serialization-lib/issues/467

[2022-06-28 09:57] hazryder commented on #434
@raamb Unfortunately I still haven't found a solution, I've pivoted to using Lucid JS for creating/submitting multiasset txs in the meantime.

[2022-06-29 20:03] jdbertron commented on #415
I'd like to know how you solved it too.

[2022-07-03 04:42] yungtechboy1 commented on #415
Ive gotten WASM to work with React and Angular a few times... Craco is a great frame to run on, and supports WASM. But editing the Webpack.config is probably the way, I have the same issue and will post if I fix it

[2022-07-04 08:36] #396 closed

[2022-07-05 08:45] SevenbitsShubham commented on #415
Use  @emurgo/cardano-serialization-lib-asmjs package. i.e.
import * as CardanoWasm  from "@emurgo/cardano-serialization-lib-asmjs";

It worked for me.

[2022-07-05 10:12] zarej opened #471 "wasm from './cardano_serialization_lib_bg.wasm' is Promise on Release / Babbage 11.0.0-beta.1"
I did build the 11beta version for the browser and replaced the old 10 version:
npm run rust:build-browser
npm run js:publish-browser:prod
and then copied the `publish` directory in my project and just changed import from the old package to this new one.

I got the error that wasm object imported from cardano_serialization_lib_bg.wasm is Promise. Can someone help me what has changed regarding impo

[2022-07-07 00:46] yungtechboy1 commented on #399
I ended up re-signing CCVault/Eternal Data Signs since it dose not preserve the data that was signed.

[2022-07-07 01:27] Innocent-Akim commented on #119
#./src/cardano/serialization-lib/@emurgo/cardano-serialization-lib-browser/cardano_serialization_lib_bg.wasm Échec de l'analyse du module : l'en-tête magique n'est pas détecté Le fichier a été traité avec les chargeurs suivants: * ./node_modules/file-loader/dist/cjs.js Vous aurez peut-être besoin d'un chargeur supplémentaire pour gérer le résultat de ces chargeurs. Erreur: en-tête magique non déte

[2022-07-08 09:46] eric248550 opened #472 "Got MIN_UTXO_ERROR while building the transaction if user have too many NFTs"
I Got **MIN_UTXO_ERROR** while building the transaction if the user has too many NFTs

Is there any solution or has anyone faced it?

[2022-07-08 15:45] jy14898 opened #473 "`CostModel` still follows `COST_MODEL_OP_COUNT = 166` limit in `babbage`"
It's impossible to use the `get`/`set` interface for the PlutusV2 cost model, which has more than 166 operations

https://github.com/Emurgo/cardano-serialization-lib/blob/28a140e44c9d18cdf3c5c2821f7c911c93b8c41f/rust/src/plutus.rs#L203-L240

[2022-07-08 15:58] vsubhuman commented on #473
Thank you, @jy14898 ! This is getting fixed asap and included into the beta.2 release

[2022-07-09 21:08] vsubhuman commented on #473
Should be fixed in `11.0.0-rc.1`

[2022-07-10 01:36] kardall commented on #415
https://github.com/Emurgo/cardano-serialization-lib/issues/415#issuecomment-1174788657

This worked, for whatever reason, this is the code that I have fiddled with just to get it to actually compile and function properly:

[code]

This is using some version of the nami-wallet system, and I need to rip out the address from the connected wallet. That's the only reason that I needed this to work, so

[2022-07-11 20:02] ignaciodopazo opened #477 "Source of Plutus V1 cost model for Vasil"
I'm curious about [where it comes from](https://github.com/Emurgo/cardano-serialization-lib/blob/a58bfa583297705ffc0fb03923cecef3452a6aee/rust/src/tx_builder_constants.rs#L31). I've taken a look at [this JSON](https://github.com/input-output-hk/cardano-node/blob/master/scripts/babbage/alonzo-babbage-test-genesis.json) but it doesn't seem to correspond under my eyes. If anyone can point me where th

[2022-07-12 23:05] margueriteblair opened #479 "Error: Cannot find module '@emurgo/cardano-serialization-lib-asmjs'"
Just installed cardano-serialization-lib-asmjs as a need for non-WASM solution. Ran 'npm install --save @emurgo/cardano-serialization-lib-asmjs' and it's definitely in my package.json.

When I run tests for my code I get
`Error: Cannot find module '@emurgo/cardano-serialization-lib-asmjs'`

Is this a version issue? I've tried reverting to earlier versions with the same problem. I've tried 10.1.0 a

[2022-07-15 08:49] nmaddp1995 commented on #303
Is there any way to mint token with plutus script and serialization-lib by Nami wallet for now

[2022-07-15 09:04] nmaddp1995 commented on #303
Got it, but is there any way to mint nft with plutus script by Nami wallet right now (any lib can be oke)

[2022-07-16 05:53] manupadillaph opened #481 "Using PLUTUS SCRIPT for minting?"
I coulnt find a way to use PLUTUS SCRIPTS for Minting.

https://cardano.stackexchange.com/questions/5980/mint-tokens-using-plutus-scripts-with-the-serialization-lib/8664#8664

I found in the examples a way to do it with Navite Scripts using add_mint_asset_and_output method:

add_mint_asset_and_output(policy_script: NativeScript, asset_name: AssetName, amount: Int, output_builder: TransactionOutput

[2022-07-18 15:28] abdelkrimdev opened #482 "PPViewHashesDontMatch when spending from a script - `11.0.0-rc.6`"
I'm trying to spend a UTXO from a script, this is how I'm calculating the script hash
[code]

I even tried to use `calc_script_data_hash` with no luck both are giving me the exact same error
[code]

And this is the error I'm getting after submit the TX:
[code]

[2022-07-18 18:48] abdelkrimdev opened #483 "`hash_plutus_data` returning a new hash for the same `PlutusData ` instance - `11.0.0-rc.6`"
After upgrading to the latest version of the CSL `11.0.0-rc.6` I noticed that I'm getting a new hash when calling the `hash_plutus_data` function which is breaking the backward compatibility and make it impossible to unlock old assets from the script

[2022-07-19 03:37] alice1989123 commented on #482
Exactly the same error. Have you changed cost_model_vals to the corresponding used in Cli? I am tryng to do that now

[2022-07-19 06:23] SebastienGllmt commented on #483
If possible, it would be nice if you could post the data, post the hash you get and what you think the expected hash should be

[2022-07-19 08:09] jmagan commented on #482
The cost models are changed from the start of the epoch. Now you should use the cost model for Vasil. You can find them in the TxBuilderConstants.plutus_vasil_cost_models() method.

[2022-07-19 08:13] jmagan commented on #482
I faced the same problem and I changed to TxBuilderConstants.plutus_vasil_cost_models() and it's working again.

[2022-07-19 09:14] abdelkrimdev commented on #483
Yes of course!

RAW Datum:
[code]
expected hash:
`a7b8bbb79ffac027a596082a3510f9c17e09996ff76844e8c4461175e1cf06ff`
the hash I'm getting
`ec3028f46325b983a470893a8bdc1b4a100695b635fb1237d301c3490b23e89b`

[2022-07-19 09:39] abdelkrimdev commented on #482
I tried both `TxBuilderConstants.plutus_alonzo_cost_models()` and `TxBuilderConstants.plutus_vasil_cost_models()` still getting the `PPViewHashesDontMatch ` error

[2022-07-19 10:52] vsubhuman commented on #482
Hi, @abdelkrimdev! Can you plz show how are you adding the input itself to the builder, with the datum and the redeemer?

Also if it's possible for you to provide the datum and the redeemer itself or to provide the resulting transaction CBOR body - I could try and investigate the hash mismatch locally. In our internal tests we are successfully using both V1 and V2 script inputs using the cost-mode

[2022-07-19 11:24] jmagan commented on #482
I forget to mention that this was in testnet and with the 1.35.1 version of the node.

[2022-07-19 11:32] abdelkrimdev commented on #482
Yes sure here is the TX CBOR:
[code]

[2022-07-19 11:36] abdelkrimdev commented on #482
I having this issue on `testnet`... mainnet works fine so far 🤞 😅

[2022-07-19 12:55] vsubhuman commented on #482
@abdelkrimdev , plz provide the code on how you are adding the plutus input and which cost model you have used to calculate the hash, and also specify which library version exactly you have used to build it?

I have just tested hashing with the data and redeemers from your transaction and I am getting the correct hash that is expected in the error you have received:

<details>
  <summary>The full

[2022-07-19 14:43] abdelkrimdev commented on #482
Hi @vsubhuman, here is the code I'm using:

This function to add the plutus script
[code]

This to calculate the script hash
[code]

Those are the Protocol Parameters
[code]

The version I'm using is: `11.0.0-rc.6`

[2022-07-19 14:54] vsubhuman commented on #482
@abdelkrimdev , for testnet you must be using `.plutus_vasil_cost_models()`

[2022-07-19 15:54] abdelkrimdev commented on #482
Oh man, thank you!! you are the best 😁
so the `PPViewHashesDontMatch` is gone after I moved `calc_script_data_hash` all the way to the end just before calling `build_tx`

previously I was calling:
`calc_script_data_hash -> add_inputs_from -> add_change_if_needed -> build_tx`

the correct order is:
`add_inputs_from -> add_change_if_needed -> calc_script_data_hash -> build_tx`

[2022-07-19 15:57] vsubhuman commented on #483
@abdelkrimdev , I am getting hash `ec3028f46325b983a470893a8bdc1b4a100695b635fb1237d301c3490b23e89b` for that datum in version 10.2 of the library as well.

If you have got a hash `a7b8bbb79ffac027a596082a3510f9c17e09996ff76844e8c4461175e1cf06ff` then there possibly some mistake. Make sure you datum matches exactly what has been used to create the output.

[2022-07-19 16:07] #482 closed

[2022-07-19 16:08] vsubhuman commented on #482
@alice1989123 , plz check if that might solve your issue as well - https://github.com/Emurgo/cardano-serialization-lib/issues/482#issuecomment-1189228086

[2022-07-19 18:04] abdelkrimdev commented on #483
Hey Again 😄 the CBOR is the same the only thing I changed is the serialization lib version, so:
`9.1.0`: `a7b8bbb79ffac027a596082a3510f9c17e09996ff76844e8c4461175e1cf06ff `
`11.0.0-rc.6`: `ec3028f46325b983a470893a8bdc1b4a100695b635fb1237d301c3490b23e89b `

[2022-07-19 20:02] vsubhuman commented on #483
@abdelkrimdev, ah yes, if you mean a version before `10.0` then you are right.

Still, though, in the version `9.1.0` by parsing exactly the CBOR provided by you I am getting hash `816cdf6d4d8cba3ad0188ca643db95ddf0e03cdfc0e75a9550a72a82cb146222`. No idea how did you manage to get the value you mention as expected.

This code snippet:
[code]

Produces `816cdf6d4d8cba3ad0188ca643db95ddf0e03cdfc0e75

[2022-07-20 02:59] alice1989123 commented on #482
Yes @vsubhuman your Rust code is a good reference on how to use the new protocol parameters. In Js it worked for me :
`    const costModel = wasm.TxBuilderConstants.plutus_vasil_cost_models().get(
      wasm.Language.new_plutus_v1()
    );

    const costModels = wasm.Costmdls.new();
    costModels.insert(wasm.Language.new_plutus_v1(), costModel);

    const scriptDataHash = wasm.hash_script_data(

[2022-07-21 11:10] AdamMachera opened #484 "Sending token using cardano-serialization-lib 11rc6 to smart contract"
I'm trying to move from version CSL 9.1.4 to 11rc6.

I'm using below code to create transaction:

`const nftMoveFixedPrice = "2000000";

export const offer = async (api: CardanoApi, policyId: string, assetName: string, askingPrice: string): Promise<string> => {

    const cardano = cardanoApiAdapter(api)
    const protocolParameters = await getProtocolProtocolParams()

    const txBuilder = await

[2022-07-21 13:28] vsubhuman commented on #484
Hi, @AdamMachera ! Please clarify what protocol parameters values do you have and how exactly the transaction builder is created

[2022-07-21 14:12] AdamMachera commented on #484
Thanks for getting back @vsubhuman.

This is how I construct transaction builder:

`
export const createTransactionBuilder = async (protocolParams: CardanoProtocolParameters) => {
    //tempary skip parameters taken from the blockfrost and use below ones
    const params = {
        linearFee: {
          minFeeA: "44",
          minFeeB: "155381",
        },
        minUtxo: "4310",
        poolD

[2022-07-21 14:22] vsubhuman commented on #484
Yup, the value `4310` is coins per utxo **byte**, not per utxo **word**. The correct value of coins per utxo **word** is `34482`.

You need to call `.coins_per_utxo_byte` on the TransactionBuilderConfigBuilder builder, instead of deprecated `.coins_per_utxo_word`.

[2022-07-21 14:47] AdamMachera commented on #484
Thanks it worked.

[code]

[2022-07-21 14:47] #484 closed

[2022-07-22 20:35] eric248550 commented on #434
@raamb Is the issue solved while using Lucid?
Got the same issue

[2022-07-24 17:55] AlexDochioiu commented on #444
Any progress here? I am getting the same

[2022-07-25 09:03] vsubhuman commented on #444
Hi, @bajian ! What are you using to sign the created transaction? The problem is that the transaction builder in the SerLib expects that a single signature will be created for each **distinct** address in the inputs. In your signed CBOR transaction there are two copies of the same exact signature:

![image](https://user-images.githubusercontent.com/5585355/180739825-ffad86b8-1ba2-474b-8e28-be9d9a4

[2022-07-25 09:15] bajian commented on #444
Sorry, I donot know what u mean? @vsubhuman
I only used     `"@emurgo/cardano-serialization-lib-nodejs": "10.0.4"` to create and sign my tx，then i submitted the signed hex to the cardano-wallet.
And the full code for signing is offered above.

[2022-07-25 09:27] vsubhuman commented on #444
Ah right, I have missed that you are doing the signing yourself right there.

[code]

This function just iterates all inputs and creates a signature for each one of them. **But you don't need two witnesses when inputs are from the same address.** You need to create a signature **for each unique address** in the inputs, not just for each input. So you can create some sort of a Set and then on each

[2022-07-25 09:34] bajian commented on #444
Oh, I see,thank you. Let me try and report later. But it's best to implement this logic within the lib. After all, it directly leads to the failure of the transaction to broadcast to the chain. @vsubhuman

[2022-07-25 09:38] vsubhuman commented on #444
We'll look into it

[2022-07-25 10:02] bajian commented on #444
I have tried, no problem. Thank you！ @vsubhuman

https://testnet.cardanoscan.io/transaction/ed4e688ecf3181e702d696e665be446dd456d8dd46e6ec415a2a5e6a9befa971

[2022-07-25 10:10] #444 closed

[2022-07-25 10:15] vsubhuman commented on #477
Hi, @ignaciodopazo ! The cost-model been taken from the latest node version, the node API allows you to query the protocol parameters and it will output the current used cost-model. The cost-model just got updated, tho, so there will be a change to that part in the code soon.

[2022-07-25 10:15] #477 closed

[2022-07-25 11:15] AdamMachera opened #485 "Claiming token from smart contract that was locked using CSL 11.0.0-rc.6"
Recently on 21st of July I was able to lock NFT asset in smart contract.

[code]

I created createTransactionBuilder method that returns TransacionBuilder object:

[code]

using following offer method I was able to lock NFT token mentioned on the begining
[code]

Today I wanted to test cancel operation (retrieve NFT from SC):

[code]

However I see exception:

**""transaction submit error ShelleyT

[2022-07-25 16:07] tengu-br commented on #479
Same issue here!

[2022-07-26 08:59] jmagan commented on #443
Hi! I'm thinking also to use v11 but it requires me to update the smart contracts to plutus v2. does someone figure out how to include the datum data for the fee?

[2022-07-26 11:34] bakon11 commented on #443
I still haven't figured that out as well.

But I'm pretty sure you can use version 11 with V1 plutus.

Will be trying that out this week actually.

[2022-07-26 15:18] jmagan commented on #443
Yes!, The CSL 11 works with plutus V1, the problem is that you can't use txs with inline datums in plutus V1 scripts. If you do so, you get a error message. You can find this in the CIP-32 documentation: https://cips.cardano.org/cips/cip32/

_**In summary, don't use inline datums with V1 script otherwise your funds will be stuck forever.**_

 That said, I got a quasi elegant solution which I'm goi

[2022-07-26 15:26] bakon11 commented on #443
oh wow this is brilliant.

I was able to figure out how to add the datums using the witness sets like you did, just wasn't smart enough to figure out a tricky way to calculate the fee hehe.

Thank you for this.

And does csl11 not give you an option to create a none inline datum?

I was thinking of switching over from 10.2 to 11 today and any extra info would help hehe.

Again thank you.

[2022-07-26 15:41] vsubhuman commented on #443
Hi! Back in the version `10.1.0` there has been added a proper support for plutus script inputs, with tx-builder functions like `.add_plutus_script_input` that accept and instance of `PlutusWitness` which includes a script, a datum, and a redeemer. Check the release description here: https://github.com/Emurgo/cardano-serialization-lib/releases/tag/10.1.0

It is also recommended to update to the la

[2022-07-26 15:42] vsubhuman commented on #443
Hi, @jmagan ! Switching to lib version `11.*` does not **require** you to change your contracts in any way, you can still use PlutusV1 in the same exact way as you used them before, the changes are mostly backward compatible. For example we are upgrading our own other products to the new version 11 at the moment and we are not changing a single bit in how we used Plutus scripts and Plutus inputs b

[2022-07-26 16:26] jmagan commented on #443
Hi!, Actually I'm using the version 11.0.0-rc6. This solution is not intended to add data in the input script, it's for the outputs to the scripts. I know version 11, it's excelent including the witness in the scripts inputs and calculating fees. The solution that I gave is for including datum data when you send tokens to a script and you want to store the datum data on-chain. It's not the same ca

[2022-07-26 17:44] vsubhuman commented on #443
That's a good point!

[2022-07-26 19:00] AlexDochioiu opened #486 "Babbage: FeeTooSmallUTxO"
Using: `"@emurgo/cardano-serialization-lib-nodejs": "^11.0.0-rc.9",`

Using the following code I get a transaction where the fee is too small:

[code]

[code]

[2022-07-26 19:17] AlexDochioiu commented on #486
Ignore this. After investigating further I noticed my mistake. I am signing with more addresses than required

[2022-07-26 19:17] #486 closed

[2022-07-27 13:15] vsubhuman commented on #437
https://github.com/Emurgo/cardano-serialization-lib/releases/tag/11.0.0

[2022-07-27 13:15] #437 closed

[2022-07-27 13:15] vsubhuman commented on #473
https://github.com/Emurgo/cardano-serialization-lib/releases/tag/11.0.0

[2022-07-27 13:15] #473 closed

[2022-07-27 16:18] AdamMachera commented on #485
With help from @abdelkrimdev I was able to change cancel method and retrieve NFT from smart contract only once
here is transaction id:
https://testnet.cardanoscan.io/transaction/e06d6a351ab3291629d60b5cf24608209307216118a612a280df26f6793c5198?tab=utxo

and the code changes we made:

[code]

The problem I see now is that once I locked same token again in SC and when I tried to retrieve it I'm getti

[2022-07-28 08:29] nmaddp1995 commented on #482
I saw the example here https://dapp-connector-web.emurgo-rnd.com/ (https://github.com/Emurgo/dapp-connector-web)
still got this error when running the function SignSpendDatum. It's in the correct order that @abdelkrimdev mentioned above but still get the same error. Can anyone help me check that

[2022-07-28 10:02] AdamMachera commented on #485
More update:
I tried using:   

[code]

I'm getting exception:

**message: "\"transaction submit error ShelleyTxValidationError ShelleyBasedEraBabbage (ApplyTxError [UtxowFailure (FromAlonzoUtxowFail (PPViewHashesDontMatch (SJust (SafeHash \\\"8fef0878373b82fd419669a22c716a717d62c783f41a0021e922096eebc14ec5\\\")) (SJust (SafeHash \\\"e6129f50a866d19d95bc9c95ee87b57a9e695c05d92ba2746141b03c15cf5f70

[2022-07-28 12:15] abdelkrimdev commented on #485
Yes I'm getting the same error since yesterday... it was working just fine before that on testnet 🤔

[2022-08-02 22:25] 0xtrossets commented on #171
Seeing this issue also.
@zxpectre did you find a solution to it?

[2022-08-03 12:55] maxtori opened #492 "private TxInputsBuilder"
The whole tx_inputs_builder module is set to private, which makes impossible to use TransactionBuilder::{set_inputs, set_collateral}.

[2022-08-03 18:04] manupadillaph commented on #481
Any help, idea, news?

[2022-08-03 21:51] K4waiiChan opened #493 "Error: "Inputs do not conform to this spec or are otherwise invalid" after use inline datum intead of data hash"
I want to start using inline datum instead of data hash, I have tried to use `with_plutus_data` in the `txOutputBuilder` I have also tried with `set_plutus_data` in the `txOutput`, but I get this error `"Inputs do not conform to this spec or are otherwise invalid"` in both cases, the inputs are utxos coming from nami wallet

This is my code:
[code]

[2022-08-05 03:12] micahkendall commented on #481
I've looked around trying to do the same thing, as far as I can tell there are no existing endpoints for plutus scripts, only 'cardano native scripts' which are different.

[2022-08-05 19:03] honungsburk opened #494 "Migrating from "min_ada_required" to "min_ada_for_output""
Hello!

I'm trying to use the latest version of the library (11.0.0) and now I can not construct valid transactions on the mainnet (probably my fault but I just want to make sure) but it does work on the testnet.

I'm using the deprecated "min_ada_required" and "coins_per_utxo_word" on the mainnet. On the testnet I'm using min_ada_for_output" and "coins_per_utxo_byte".

Is this the correct usage o

[2022-08-07 06:01] AlexDochioiu commented on #434
This issue still seems to exist for almost every single multi-asset transaction. Any plans on fixing it?

[2022-08-10 05:17] lemmon-714 commented on #485
Seconded, similar/same issue. Might also be a mismatch between CSL versions used in lucid and nami (both the latest vasil testnet versions)

[2022-08-10 07:03] lemmon-714 commented on #485
Update - it's blockfrost.

[2022-08-10 08:55] prodderman opened #496 "Fee calculation error: FeeTooSmallUTxO"
Hi! I get a partial transaction created by PAB, try to balance it, calculate fee and submit it to testnet but I always get this error:

I've checked all other similar issues but they didn't help.

This is a silly transaction that lock some ada (100 ADA) in a smart contract with datum (public key hash). It has only one output, one required signer and there are no any plutus scripts, native scripts,

[2022-08-10 10:25] prodderman commented on #496
I found this [issue](https://github.com/Emurgo/cardano-serialization-lib/issues/443) and it seems the library really doesn't take into account datum hashes size.

[2022-08-10 12:07] AdamMachera commented on #485
Do you know when  it is going to be fixed?
Or if there’s any workaround?

On Wed, 10 Aug 2022 at 09:04, Chris M. Hiatt ***@***.***>
wrote:

[2022-08-11 10:45] vsubhuman commented on #496
@prodderman , you resulting transaction contains an arbitrary datum in the field 4 of the witness set :

![image](https://user-images.githubusercontent.com/5585355/184115998-055f4e16-48a2-4e8f-ad06-4c6e8409086f.png)

As you can see in the code, the builder performs the fee size estimation before you create the full transaction and place that witness set to be a part of that full transaction:

![im

[2022-08-12 05:21] prodderman commented on #496
@vsubhuman It works. Thank you

[2022-08-12 05:21] #496 closed

[2022-08-13 02:53] alice1989123 opened #497 "legacy min_ada_required() is giving low values in CSL 11.0."
If I compare the two values given by CSL 10.0.04 with CSL 11 i get two different values, the 11.0 being lower my code:

const asset = [
  {
    unit: "1579f5df1ff81b2a69c402d92dd5fe95bf8cb7129e4a0765ed64095e69726f6e6f726520202d203236333520",
    quantity: "1",
  },
  {
    unit: "1579f5df1ff81b2a69c402d92dd5fe95bf8cb7129e4a0765ed64095e69726f6e6f726520202d2037343220",
    quantity: "1",
  },
];
con

[2022-08-13 08:59] SebastienGllmt commented on #497
Yes, min_ada_required got changed to a new protocol parameter that gives a lower value. Be sure to change what value you use for the protocol parameter value as well when updating. This is only for Vasil as Alonzo (mainnet) still requires the larger value

[2022-08-14 07:11] honungsburk commented on #494
For the people who run into the same issue as I did:

version 11.0.0
[code]

version 10.2.0
[code]

999978 != 969750

In my app an easier upgrade path would have been for the `min_ada_required` to work exactly as it did in the previous version. This is because I can only load one version of the library but support both mainnet and testnet.

[2022-08-14 07:11] #494 closed

[2022-08-15 13:02] Scitz0 opened #498 "TransactionOutputKind requested"
While implementing new ledgerjs 5.1.0 I noticed that it requires knowing the type of outputs, if its pre babbage or not, ie array vs map.

Could we add a field like for TransactionMetadatumKind or PlutusDataKind, called for example TransactionOutputKind where the type is defined as Map or List?
This Kind could be a param of TransactionOutput.

Or is there some other way to identify if it's a map o

[2022-08-16 19:02] abdelkrimdev commented on #482
this is really strange sometimes it works sometimes it doesn't same code same TX CBOR I'm super confused 🤔

[2022-08-17 06:43] nmaddp1995 commented on #482
@abdelkrimdev you can try upgrading to version 11.0.0 to check if it works

[2022-08-17 10:32] nmaddp1995 opened #499 "What does redeemer index mean"
When I pass index of redeemer is 0, sometimes it works, and sometimes I have to change it to 2 to make it works (like the code below)
So what does that mean and how could I know what should I put to index param

[code]

[2022-08-17 11:25] vsubhuman commented on #499
@nmaddp1995 , the redeemer index is pointing to the input the specific redeemer is for in your input list in the transaction. For example, if you add inputs like: plutus input, some other input, some other input - the index must be zero because the plutus input is the first one in the list; but if you add inputs like: some regular input, plutus input, some other regular input - then the index must

[2022-08-17 19:01] abdelkrimdev commented on #482
I already upgraded the version 🤔 it works perfectly fine when the datum is simple when I add nested lists it starts behaving weirdly

[2022-08-18 01:53] nmaddp1995 commented on #499
@vsubhuman  I make buy function with txin is tx put on sale and utxo of buyer
[code]
And I use set_pluts_scripts for txWitness:
[code]
So I am not sure how could I get the right index of redeemer

[2022-08-18 09:17] vsubhuman commented on #499
@nmaddp1995 , replace this with this:

[code]

Then replace `txBody.set_script_data_hash` with auto-calculation using:
[code]

Then make sure to use the proper function `.build_tx()` instead of the deprecated `.build()`, it will return you the full transaction **which includes the script, the data, and the redeemers**, so you **don't need** to put them into the witness set by yourself:

[code]

In

[2022-08-18 10:17] abdelkrimdev commented on #499
Hi @nmaddp1995 here is a reference implementation that works for most cases
https://github.com/MartifyLabs/mesh/blob/smart-contracts/packages/module/src/transaction/transaction.service.ts
I hope that help 😉

[2022-08-18 10:44] nmaddp1995 commented on #499
Tks, I got the index of Plutus transaction by this code
[code]
BTW, I am making the buy NFT function but I have to define the gas fee to calculate the res coin for buyer and make tx out for that. Is that the right approach for that? Or is there any solution to calculate the exact fee for a transaction or solution to not have to fixed fee

[2022-08-18 10:59] vsubhuman commented on #499
@nmaddp1995 , if you use the `txBuilder.add_change_if_needed(changeAddress)` function it will calculate the required fee and create the change outputs automatically, but in order for that to work you need to use the APIs the way I have described them here: https://github.com/Emurgo/cardano-serialization-lib/issues/499#issuecomment-1219239234

Because the builder then must know all the information

[2022-08-19 13:09] vsubhuman commented on #485
@AdamMachera , try using the latest available version of the library please, I have just added a testcase which checks the hashing of the same exact datum and redeemer you have in your transaction and it gives me the expected hash `e6129f50a866d19d95bc9c95ee87b57a9e695c05d92ba2746141b03c15cf5f70`, you can check the test here: https://github.com/Emurgo/cardano-serialization-lib/blob/df96bf45b04cb87

[2022-08-19 13:15] vsubhuman commented on #485
Irrelevant to the specific error you are getting, but am I understanding correctly that this input index you are getting is the index of the utxo in the transaction, like if the input reference is `{ txHash: ...., txOutputIndex: 1 }`, then `scriptInputIndex` will be `1`?

If so then it's not correct to use it in the redeemer, redeemer input index is a different thing, unrelated to the utxo index.

[2022-08-19 13:20] vsubhuman commented on #485
Actually, @AdamMachera , I think the issue that causing the hash mismatch is that you are calling `.calc_script_data_hash` **before** calling more `.add_inputs_from` which adds more inputs.

As described in the previous comment (https://github.com/Emurgo/cardano-serialization-lib/issues/485#issuecomment-1220666881) the index in the redeemer will change automatically when building the transaction,

[2022-08-19 13:21] vsubhuman commented on #485
Discussed with @lisicky , we gonna try to add an additional validation to fail with an error in case any more inputs are added after the hash already been auto-calculated

[2022-08-20 09:35] AdamMachera commented on #485
I placed the calculate script hash at the end.

    txBuilder.set_collateral(txInputBuilder)
    txBuilder.add_change_if_needed(selfAddress)

    const costModels = TxBuilderConstants.plutus_vasil_cost_models();
    txBuilder.calc_script_data_hash(costModels)

    const tx = txBuilder.build_tx();

Now I'm getting:
message: "\"transaction submit error ShelleyTxValidationError ShelleyBasedEraBabbage

[2022-08-20 13:45] cmdcolin commented on #295
just for reference, using the config from https://github.com/Emurgo/cardano-serialization-lib/issues/295#issuecomment-995943141 was a great hint but I had to remove some of the flags or else the production build would hang (never finish)

specifically, I stripped it down to just

       config.experiments = {
        syncWebAssembly: true,
      };

lazyCompilation would make it so that it would o

[2022-08-20 23:53] lisicky commented on #485
Hi, @AdamMachera. You need to call `add_change_if_needed` **after** all changes in a tx builder and **before** calling `txBuilder.build_tx`. Because fee calculation happens inside `add_change_if_needed ` and it's important to have all your data in the tx builder before calling `add_change_if_needed`. In your case, it would be smth like that.

[code]

[2022-08-21 06:59] vsubhuman commented on #485
Ah, shit,  @AdamMachera, this is my bad, @lisicky is right. My mistake, you need to call the `.calc_script_data_hash` before adding the change, not before building the transaction, because calculating and setting the hash will change the transaction size and therefore the fee. Sorry about that.

[2022-08-21 14:32] AdamMachera commented on #485
Thanks @vsubhuman and @lisicky you support helped to solve this issue.
Final version of cancelation method (maybe it will help someone):

[code]

However in create redeemer I had to use:

[code]

    **const exUnits = ExUnits.new(BigNum.from_str("7000000"), BigNum.from_str("3000000000"))**
instead of the one that was produced as output from haskel SC compiler
**const exUnits = ExUnits.new(BigNum.f

[2022-08-21 15:50] #485 closed

[2022-08-22 15:30] francisluz opened #502 "Utxos MissingVKeyWitnessesUTXOW, ValueNotConservedUTxO 11.0.1"
Hey guys,

We're having this. we send our utxos to the dApp, then we sign and when the dApp tries to send it we get this.
`{"error":"Bad Request","message":"\"transaction submit error ShelleyTxValidationError ShelleyBasedEraBabbage (ApplyTxError [UtxowFailure (FromAlonzoUtxowFail (WrappedShelleyEraFailure (MissingVKeyWitnessesUTXOW (WitHashes (fromList [KeyHash \\\"fb48f4bce10f8339e5413031842e8b38

[2022-08-22 15:57] lisicky commented on #502
Hi @francisluz! Could you provide the code with cardano-serialization-lib and cardano-multiplatform-lib and cbor from both of them ?

[2022-08-22 21:33] francisluz commented on #502
Hey @lisicky,

Following below the details ;)

This issue is happing with two old accounts I have on Testnet, I run a test with a brand new wallet with only ADA and both codes below worked.

**TxSigned Hex**
`84a3008182582096f90c12ef1a193d8d0ca93fe2015da68f8233acd9429047f9c9f08ee73930f20001828258390085e76ddb90294e1cb03596acf111631c0d3070f5b7e74fb8136de6690bee88503f60afc7730731db3bdc45a2a3ecba4469f

[2022-08-23 08:07] vsubhuman commented on #434
@hazryder or @AlexDochioiu , would that be possible for you to provide an incorrect transaction hex produced with this? Would help us investigate and reproduce

[2022-08-24 05:59] AlexDochioiu commented on #434
@vsubhuman That's not possible. The transaction hex/cbor never gets built. `UTxO Balance Insufficient` is an error thrown when calling `txBuilder.add_inputs_from(txUnspentOutputs, 3)`.

[2022-08-24 06:04] vsubhuman commented on #434
@AlexDochioiu , good point. Would that be possible for you then to provide the exact list of UTxOs you are passing into `.add_inputs_from` and the exact outputs you have added to the builder before that? Ideally, we really need to know what exact task the function is trying to solve, to see where it gets it wrong

[2022-08-24 12:40] trevor-crypto opened #505 "Deposit not returned during StakeDeregestration"
Maybe someone can help clarify if this is a bug or if I am missing something:

If you do a stake key deregistration, it seems that the initial deposit (2 ADA) is not taken into consideration in the change. It is calculated in the implicit input amount though.

Here is a test within `tx_builder.rs` I created based off of `build_tx_with_certs()`
[code]

[2022-08-24 12:54] vsubhuman commented on #505
@trevor-crypto , the issue in the test is that you are additionally adding the implicit input value to the total output of the transaction, for some reason.

By the logic of the described issue you are expecting the transaction change to include the implicit input value (which it does). By that logic once you have added auto-calculated change to the transaction, the produced output value must incl

[2022-08-24 13:03] trevor-crypto commented on #505
@vsubhuman ok that makes sense, thank you. For some reason when I create a transaction like this and submit it to the blockchain it tells me I am missing an input -- which was assuming meant that the deposit is not being added to the inputs:

[code]

[2022-08-24 13:32] trevor-crypto commented on #505
@vsubhuman

I am adding inputs :disappointed:, which is why I thought that it was missing the implicit, but your explanation made it clear that I don't need to add that to the output amount manually.

Does this logic seem ok to you? :
[code]

[2022-08-24 13:45] vsubhuman commented on #505
🤔

@trevor-crypto , I think there actually might be an issue using this approach for this specific case of deregistering, because by the time you call this function the total input of the transaction will already include the 2 ADA from the refund, and the `.add_inputs_from` main purpose it to pick enough inputs to cover the **missing** value to cover the required total output, which is not super c

[2022-08-24 13:55] trevor-crypto commented on #505
@vsubhuman That worked! Thanks a lot for the help!
Closing.

[2022-08-24 13:55] #505 closed

[2022-08-24 15:35] AdamMachera commented on #467
We are using version CSL 11.0.1.
I'm having same issue while locking two NFTs + additional asset in smart contract (it is working for marketplace if we lock only one token).

The code that we are using:

[code]

it never gets into
    console.log('after add_inputs_from')
I'm getting "UTxO Balance Insufficient"

This is the output that we want to lock in the SC - two NFTs 1000 coins of custom asset

[2022-08-24 16:14] AdamMachera commented on #467
when I have changed strategy to:
txBuilder.add_inputs_from(txUnspentOutputs, 2)
it helped.

[2022-08-25 23:06] dynamicstrategies commented on #467
I see a similar issue here when using a fresh wallet.
My hunch is that when the wallet has only 1 utxo the random improve gets confused.
Try adding a few more UTXO to the wallet and checking if random improve works?

[2022-08-26 00:20] waltonwells commented on #479
not working for me too

[2022-08-26 10:52] gege251 opened #507 "Implementing secp256k1 primitives"
In the next hardfork, hopefully we will be able to use secp256k1 and Schnorr verification on chain. It would be useful for many of us to be able to sign these messages and derive public keys using the this library.

[2022-08-27 08:51] khoanguyen-yang opened #509 "Coin Selection implementation for React Native bindings"
I am looking for the method `TransactionBuilder.add_inputs_from` of `@emurgo/cardano-serialization-lib-nodejs` but can not find it in `@emurgo/react-native-haskell-shelley` (3.1.3)

The bindings for React Native seems do not provide any method for coin selection? Does anyone have any idea?

Many thanks 🙏

[2022-08-30 04:35] miguelaeh opened #510 "Minting same asset to two different addresses breaks value conservation"
Creating a single TX that mints two different amounts of the same native token to two different addresses breaks the value conservation.

If you use the `add_mint_asset_and_output_min_required_coin` twice like below:

[code]

You will obtain a `ValueNotConservedUTxO` error with the following specification:
[code]

Note the amounts of the asset at the end of each line. It means that as total output

[2022-08-30 04:50] miguelaeh commented on #510
For the record, a temporal workaround for this is to execute the following after adding all the outputs with the total combined amount, so the inputs are overwritten and fixed:

[code]

[2022-09-01 16:14] kanzure opened #511 "EnterpriseAddress::to_address Uncaught Error: null pointer passed to rust"
[code]

traceback:
[code]

If this is not the expected way to make an address that does not have a stake credential, then how should that be achieved?

[2022-09-01 18:25] kanzure commented on #511
Seems to be fixed by using `.new()` per https://github.com/Emurgo/cardano-serialization-lib/issues/344#issuecomment-1036079572

[2022-09-01 18:25] #511 closed

[2022-09-01 18:46] mkeen commented on #434
One thing that has helped me while awaiting a more permanent fix is just attempting to build the TX multiple times. I try both Multi Asset selection algos (randomimprove multiple times, largestasset once if no successes from randomimprove). I'm left with an array of entries either empty (if an exception was thrown for the attempt) or with tx's in them. I then, inspect all of them and choose whatev

[2022-09-01 19:26] hazryder commented on #434
@vsubhuman I'm afraid I don't have the code set up to repro this right now, as I reworked the project to use Lucid instead. When I've got some free time though I could potentially set it up again to help test.

[2022-09-05 03:49] gavinharris-dev commented on #407
I think I got it working by doing the following:

[code]

I seem to have matched up the resultant `cardano-cli` address doing it this way.

Note: I am on version 11.0.5 of @emurgo/cardano-serialization-lib-nodejs

[2022-09-05 16:11] nooxx opened #515 "Create TransactionWitnessSet from signature"
Hello, I have been successfully signing a transfer transaction using a wallet mnemonic like so:

[code]

Now I would like to sign the transaction with fireblocks raw signing API, which gives me a 64 bytes EDDSA signature. Would you know how to reconstruct **witnesses** from this signature?

[2022-09-05 17:01] nooxx commented on #515
Update: I think I found what I needed:

[code]

[2022-09-05 17:01] #515 closed

[2022-09-05 17:45] tigoni opened #516 "ValidationTagMismatch (IsValid True) (FailedUnexpectedly (PlutusFailure.."
I am trying to unlock an NFT using CSL but I've been getting this strange error:

Here my code in its entirety: https://pastecode.io/s/4pzxvhka

[code]

I have tried adjusting the ExUnit values in my code but no success. Would anyone know if I am doing something wrong or if its an issue with the lib?

[2022-09-06 14:27] nooxx commented on #383
would love some help here as well

[2022-09-07 01:43] gavinharris-dev opened #517 "Can `add_change_if_needed` be called twice on a Transaction Builder?"
Blockfrost ( provides a way to 'evaluate' a transaction that utilizes a Plutus Script, this evaluation returns the correct ExUnits that should be provided for each Redeemer.

I'm just wondering if it is possible to somehow allow (perhaps with a flag) to recall the `add_change_if_needed` method, or perhaps provide a means of recalculating the Fee (where we would need to also provide a TX Output to

[2022-09-08 10:07] nooxx opened #518 "Craft delegation transaction"
Hello, I'm trying to build a delegation transaction. Would anyone have a working example?

This is what I came up with so far but wasn't able to broadcast it after signature.
[code]

[2022-09-08 12:57] JulienRst opened #519 "Typescript compilation error about PlutusDataEnum"
### Problem
I'm currently working with the `@emurgo/cardano-serialization-lib-nodejs` on version `11.0.5` on a TypeScript project.

When running `tsc --noEmit` on my project, I've encountered the following error :
[code]
### Workaround
I can temporary fix it by putting `skipLibCheck` to `true` in my `.tsconfig` but this should not be the solution.

I've tried to downgrade to `11.0.3` and `11.0.1`

[2022-09-08 19:36] miguelaeh commented on #285
Not sure which is the status of this issue, but I can confirm that the change calculation fails if there are both, native assets AND a minting output in the transaction.
When there is not a minting output, the change is properly calculated even with native assets.

In my case, I tested minting an amount of the same asset that should also be added to the change output.

[2022-09-09 08:02] francisluz commented on #502
We've fixed it by using the latest version and going with only cardano-multiplatform-lib.

[2022-09-09 08:03] #502 closed

[2022-09-09 11:23] vsubhuman commented on #285
Hi, @miguelaeh! Would that be possible for you to share the code of how you are creating the transaction, and especially how exactly are you adding the mint? We will try to get this resolved at priority if we can reproduce it from an example.

[2022-09-09 12:03] vsubhuman commented on #510
Thank you, @miguelaeh ! The fix for this is being merged at the moment

[2022-09-09 12:21] #510 closed

[2022-09-09 20:19] miguelaeh commented on #285
The commented test was done with `10.2.0`. It is a bit old but we still need to test the project with the new one.

I cannot share the exact code because I built some wrappers around the library. But just building a Tx that includes a native asset mint output AND that needs to add change for a native asset reproduces it.

For example:
[code]

I think that is the minimum tx that will reproduce it,

[2022-09-11 12:36] lynch- commented on #303
how to add metadata.json and mint NFT?

[2022-09-12 11:30] vsubhuman commented on #285
https://github.com/Emurgo/cardano-serialization-lib/pull/520 is fixing how the tx-balance is being asserted during the change-building and makes the lib return proper more informative error messages about the exact cause of the problem. Will add a comment here when we have a beta version published with this change included so anyone can help test if that helps to solve the issue.

[2022-09-12 11:41] lisicky commented on #285
@mailtodanish Could you check that you have enough assets and add more ada to inputs. The error "missing input for some native asset" usually happens what you have more than enough assets and not enough ada or vice versa. But don't forget that the `add_change_if_needed` additionally adds fee and total inputs value should be >= (total output value + fee)

[2022-09-12 18:03] FinleyMcIlwaine opened #521 "Ability to import `Transaction` into `TxBuilder`"
It would be nice if the `TransactionBuilder` API was able to "import" a pre-existing `Transaction` into the builder for further manipulation. Is there any reason this wouldn't be possible?

[2022-09-13 08:57] vsubhuman commented on #521
Thank you for the request, @FinleyMcIlwaine! We'll look into trying to add this.

The only complication will be that internally the TransactionBuilder works by assuming many fields of the future transaction are empty or non-existing at the beginning and with initialising from an existing transaction that won't be true. For example, when the builder is called to calculate and add change if needed i

[2022-09-14 12:11] #518 closed

[2022-09-15 04:02] nmaddp1995 commented on #499
Hi, I change my function to the same as your purchase function

`
    const txPutOnSale = CardanoWasm.TransactionInput.new(
      CardanoWasm.TransactionHash.from_bytes(Buffer.from(resellOrderData.txIdPutOnSale, 'hex')),
      get(resellOrderData, 'metadata.output_index'),
    );

    const serviceFee = resellOrderData.fee;

    const { priceServiceFee, priceRoyaltyFee, priceForSeller } = getPrice

[2022-09-16 13:51] abdelkrimdev commented on #499
Hi, @nmaddp1995 we managed to solve all the issues related to locking and unlocking an asset from a Smart Contract.
and we create a package called Mesh I highly encourage you to check it out at https://mesh.martify.io/
it's under active development and we are adding new features constantly.

The fee calculation is wrong because you are adding the plutusWitness after `add_change_if_needed`

[2022-09-19 07:22] nmaddp1995 commented on #499
@abdelkrimdev Hi, about the adding the plutusWitness, can you clarify for me how to add plutusWitness in the correct way to add_change_if_needed. If I use txBuilder.add_plutus_script_input, it return the error `missing input or output for some native asset`

[2022-09-19 13:24] lisicky commented on #499
Hi @nmaddp1995. Actually the error `missing input or output for some native asset` can be connected with adding  plutusWitness, because each script witness can increase tx fee. You can read about reasons of the error in this issue https://github.com/Emurgo/cardano-serialization-lib/issues/285#issuecomment-124361685 , probably you don't have enough ada or native assets in the `tx_builder`'s inputs

[2022-09-19 14:16] lisicky commented on #498
Hi @Scitz0 ! Now CSL doesn't store any information in a TransactionOutput about that if pre-babbage is it or not. CSL serialize a TransactionOutput to the babbage format only if the TransactionOutput has inlined datum or inlined script. But I can't guarantee that logic won't change. If you deserialize a TransactionOutput there isn't way to check what format was it, except if you check cbor by your

[2022-09-19 16:56] iftieaq commented on #325
@jinglescode did you find any solution to that problem? I am trying to do the same thing but no luck.

[2022-09-19 17:32] hakimehmordadi opened #524 "Tx serialization in offline mode raise error"
Summary
I created transaction with @emurgo/cardano-serialization-lib-nodejs
Singed tx with this library
Send signed tx to the my local node (cardano-rossetta)

BUT

With that (signed tx which transfred to the node ) , can not create offline txId before sending transaction.

So, why signed-tx-hex (txHex) can transfer to the node but can not deseriaize and create txId?

If my code for creating txId

[2022-09-20 01:39] eric248550 commented on #325
This is how I did

[code]

[2022-09-20 11:22] vsubhuman commented on #497
@alice1989123 , this has been fixed in the later `11.*` versions, please switch to using the latest version and it will work on both network versions.

[2022-09-20 11:22] #497 closed

[2022-09-20 13:04] lisicky commented on #498
@Scitz0 In general, if you use generated by 3-rd party tool tx, there isn’t a guarantee that CSL serializes tx in the same CBOR after deserialization. Because there are huge numbers of ways how the same data can be stored in a CBOR. Array or map can be serialized with definite or indefinite length, or one number can be serialized as 2 bytes or 4 bytes value. Also order in a map or array can be cha

[2022-09-20 16:38] lisicky commented on #524
Hi @hakimehmordadi ! It seems that you put something wrong to the `const txHas = 'signed-tx-hash';`, it can be transaction body or transaction or something else according to length in the error that you got. Could you provide cbor ?

Also,

On the first line you are trying to create `TransactionHash` object from bytes. But in the on the second line you are using `parsed` like instance of `Transact

[2022-09-20 16:52] Scitz0 commented on #498
@lisicky I understand that a tx can be built & deserialized in different ways, and this is fine. We only use CSL, in this case, to read out the data in the tx to be able to pass data along as payload to Ledger HW device. The Ledger device needs to be able to reconstruct the tx internally exactly as it was originally created. This is why we need to specify if the output in source tx was generated a

[2022-09-20 18:35] leobel commented on #519
Hi, having the same issue here.

[2022-09-21 05:52] hakimehmordadi commented on #524
Hi @lisicky  Sorry for mistake, Yea actually it is:

const parsed = Transaction.from_bytes(signedTransactionBytes);

Instead of Transaction I wrote TransactionHash.
So,
This line can not deserialize the signed and sent txHash:

const parsed = Transaction.from_bytes(signedTransactionBytes);

**Correction**:

[code]

[2022-09-21 09:16] lisicky commented on #524
@hakimehmordadi do your correction works or you get new error ? If you get error provide cbor that you are trying deserialize please.

[2022-09-21 10:24] hakimehmordadi commented on #524
I'm getting error.
@lisicky  with correction.

I am trying to get TXID from the bellow CBOR (It is a signed tx hash). I can create txId with /construction/hash for my cbor. But I need to use offline txId. So the code (correction) is my code for gettin txid offline by cbor. But decode runs with issue.

My Cbor is :
`827901d4383461343030383138323538323039386163636539396364373131363731303337383362383

[2022-09-21 10:42] hakimehmordadi commented on #524
@lisicky  Also I'm using  @emurgo/cardano-serialization-lib-nodejs: 7.0.0 for creating transaction and signing.
:

[2022-09-21 11:11] lisicky commented on #524
@hakimehmordadi the CBOR that you provided is wrapped data, probably you put object with bytes or text field to `const txHas =  'signed-tx-hash';` and CSL can't deserialize that wrapped data. But I extracted tx cbor from your CBOR and it should be
`84a4008182582098acce99cd71167103783b88f52cf8fe2c6eb558844dbec19418695230cd51c801018282581d612d08f2fda880316cae616b6d3b9cae71f9c702125effb2f198e34eeb1a0

[2022-09-21 11:28] hakimehmordadi commented on #524
@lisicky  Please send me , how you extracted tx cbor from my cbor, please send me the code. Thank you

[2022-09-21 11:29] hakimehmordadi commented on #524
I did test your cbor (the one you extract from my cbor, it works) - but I need your way, please.

[2022-09-21 11:50] hakimehmordadi commented on #524
Kindly @lisicky  Actually our problem is we can not decode our cbors, we have old code and can not update. It is in production but because we can not extract txId from our cbors (Like the sample you saw), this give us issue and we need to fix it urgently.
So if you share me how you could extract your tx cbor from my cbor, it would be great help to us. Thank

[2022-09-21 12:34] lisicky commented on #524
@hakimehmordadi I checked your CBOR by cbor.nemo157.com. [link](https://cbor.nemo157.com/?type=auto&value=827901d43834613430303831383235383230393861636365393963643731313637313033373833623838663532636638666532633665623535383834346462656331393431383639353233306364353163383031303138323832353831643631326430386632666461383830333136636165363136623664336239636165373166396337303231323565666662326631393865

[2022-09-21 13:21] Scitz0 commented on #498
For now I decided to decode cbor passed in manually to figure out the type, so not an immediate need now from my pov. But I still think, if CSL decodes a TX, that it should keep the original format and not convert it. I also still think type would be valid to add to the TransactionOutput object.

[2022-09-22 00:11] nicolasayotte commented on #517
Simply remove the transaction fee and you can launch .add_change_if_needed() again if that is what you want.

[2022-09-22 00:15] nicolasayotte commented on #472
Doing what call? What is the actual error text?

"Value {} less than the minimum UTXO value {}"

[2022-09-22 00:19] nicolasayotte commented on #467
The coin selection does not account for the fact that you are returning NFTs in the change output and can sometimes fail because of that. This needs to be filed and addressed.

[2022-09-23 06:17] vsubhuman commented on #498
Good point, @Scitz0, we'll look into it and might be planned for the next version

[2022-09-23 20:05] TelmoFrancisco opened #527 "Error: error:0308010C:digital envelope routines::unsupported"
Hi,

I'm getting this error with "@emurgo/cardano-serialization-lib-asmjs": "^11.0.5", is there someone with the same? Is some node specific version needed?

Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:67:19)
    at Object.createHash (node:crypto:130:10)

[2022-09-25 09:39] lisicky commented on #527
@TelmoFrancisco could your provide code example that emits the error ?

[2022-09-26 08:49] adamutils commented on #483
Can you guys let me know if my understanding is correct.

1. In cardano serialization lib 9.1.3 we need first do

[code]

2. Next we switch to cardano-serialization-lib in version 11.0.x we should take compatibleDatumHex and use it in following code  ?

[code]

My assumption is that we should be using plutus_alonzo_cost_model because tokens were locked before vasil hardfork era. please correct me

[2022-09-27 14:22] #434 closed

[2022-09-27 14:22] #467 closed

[2022-09-27 14:35] lisicky commented on #467
Thanks @AdamMachera ! Your utoxs were very helpful, fix for RandomImproveMultiAsset will be in the next CSL release.

[2022-09-27 14:40] lisicky commented on #434
Thanks all! Fix for Random Improve Multi Asset will be in the next CSL release.

[2022-09-29 13:16] #519 closed

[2022-09-29 20:36] itsjkb opened #530 "build-and-test.sh + test.sh only runs on Linux/Mac/WSL environments"
bash scripts only run on Linux/Mac/WSL environments.  This dependency exists because the original node version manager install scripts only run on those environments, but the rust toolchain is fully supported on Windows environments.   There's also an NVM for windows (https://github.com/coreybutler/nvm-windows) which should allow for build-and-test.bat and test.bat scripts on windows.  Provide scr

[2022-09-30 13:52] lisicky commented on #285
#520 in the new 11.1.0 release. It might help to investigate reasons of the error.

[2022-10-04 00:08] jinglescode commented on #325
Hey @iftieaq and @eric248550 , I've been working tirelessly to make our development easier on Cardano, check this out, minting with CLI generated keys: https://mesh.martify.io/guides/mintingonnodejs

Essentially its just this:
[code]
Full source code: https://github.com/MartifyLabs/mesh/blob/main/examples/NodeJS-Minting/main.ts

[2022-10-04 09:06] lisicky commented on #530
Hi @itsjkb ! Good point. We will check how we can add scripts for Windows environments.

[2022-10-04 09:53] lisicky commented on #524
Hi @hakimehmordadi ! Did you extract the tx cbor ?

[2022-10-05 09:43] Innocent-Akim commented on #434
Error: [Transaction] An error occurred during build: UTxO Balance Insufficient.
    at P.build (mesh.js?a9b7:1133:1)

[2022-10-05 09:51] lisicky commented on #434
Hi @Innocent-Akim ! Could you provide your code and utxos, that emits the error ? What CSL version do you use ?

[2022-10-06 22:20] lisicky commented on #519
Hi @nullhashpixel ! I have checked it with version 11.0.5 and version 11.1.0, and in version 11.1.0, I didn't get the error. Could you provide your example of a code?

[2022-10-07 20:26] nullhashpixel commented on #519
Hi @lisicky,
easiest way reproduce this for me is to run "tsc -p ." in the cardano-serialization-lib/example/ folder. Deleted the package-lock.json and recreated it again and same issue.
With "skipLibCheck: true" it compiles.

[2022-10-07 23:14] lisicky commented on #519
@nullhashpixel Could you tell me you use CSL release from npm ? By the line below from your message it seems that you are trying to use CSL that is builded on your machine. Code from the `master` brach != release 11.1.0.

If you wanna use a locally built CSL, you need to clean `rust/json-gen/schemas/` directory and call `build-and-test.sh`. But make sure that you download the latest release. The c

[2022-10-09 00:16] nullhashpixel commented on #519
that was it @lisicky thanks! Forgot to clean ```rust/json-gen/schemas/``` before running the build script.

[2022-10-09 13:02] gitmachtl opened #534 "no support for the new governance bech prefixes"
for the upcoming change in the governance/catalyst voting, a new bech prefix for public/private keys was defined.
https://github.com/cardano-foundation/CIPs/pull/342

private/signing key prefix: `gov_sk`
public/verification key prefix: `gov_vk`

however, these prefixes are not working with the current release of the cardano-serialization-lib in commands like `.PublicKey.from_bech32(bechstr)`

plea

[2022-10-11 12:41] lisicky commented on #493
Hi @K4waiiChan ! Do you still have the issue? Could you provide cbor of tx ? Did you try it on mainnet or testate ?

[2022-10-11 14:23] will991 opened #536 "How to spend multiple script outputs with inline-datum - MissingRedeemers Error"
Hi, I am using the latest CSL 11.1.0 version on the preview network and I am trying to spend 2 script outputs that hold an inline datum like so:

[code]

I've tried both `PlutusWitness` constructors: `new` and `new_with_ref`. The `new` constructor attaches a datum to the Tx which causes a `NonOutputSupplimentaryDatums` error. Using the `new_with_ref` constructor seems to add a `reference_input` an

[2022-10-12 09:41] abdelkrimdev opened #537 "Can't spend a UTxO with inline datum from a `PlutusV1` smart contract"
Hi, I am using the latest CSL `11.1.0` on the preview network. I'm trying to spend a UTxO with inline datum from the always succeed smart contract. I'm getting `NonOutputSupplimentaryDatums` and `InlineDatumsNotSupported` on submit. it used to work perfectly fine on CSL `11.0.5`.

[code]

[2022-10-12 10:02] jinglescode commented on #439
We are working hard to provide good documentation and an interface layer for cardano serialization library. Check out [Mesh](https://mesh.martify.io/).

[2022-10-12 10:28] lisicky commented on #537
Hi @abdelkrimdev ! Could you tell me how you did it in 11.0.5 ? Because unfortunately if you use Plutus V1 with inlined datum, the input become unspendable. See https://cips.cardano.org/cips/cip32/

[2022-10-12 10:33] lisicky commented on #536
Hi @will991 ! Which version of plutus script do you use ?

[2022-10-12 10:40] will991 commented on #536
Plutus V2

[2022-10-12 10:43] will991 commented on #537
@lisicky is right. You can't mix plutus v2 features like reference inputs/ inline datums or reference scripts with Plutus v1 scripts.

[2022-10-12 10:51] lisicky commented on #536
@will991 Could you try to spend 1 script input instead all ? It might help to localize the error.

[2022-10-12 11:04] abdelkrimdev commented on #537
Yeah guys this is what I'm trying to understand as well 😅
can you please check the TX I just submitted using `11.0.5`
txHash: `223332f57461b43467271438a6831cdfe1d42b086b2cbcdee15947cfa83d66e3`
I just spend a UTxO with inline datum from a V1 smart contract... am I missing something here? 🤔

[2022-10-12 11:15] will991 commented on #536
Ok, I am getting a `PPViewHashesDontMatch` error. That is the only error in the log.
Here is what I am doing:
1. Add script input:
[code]

2. Setting collateral
3. Adding required vkey signature
4. Adding v2 costmodel & calculating `script data hash`:
[code]

5. Build Tx:
[code]

6. Extract vKey witness and add it to Tx witness set.

Here is shortened json of the signed Tx:
[code]

From the error,

[2022-10-12 11:19] will991 commented on #536
Yes the datums are the same for all script inputs in this example. They only contain the PubKeyHash. The redeemer is also the same (Unit) but indexed in the case of spending multiple script outputs.

[2022-10-12 12:19] abdelkrimdev commented on #537
Yeah guys this is what I'm trying to understand as well 😅
can you please check the TX I just submitted using 11.0.5
txHash: `223332f57461b43467271438a6831cdfe1d42b086b2cbcdee15947cfa83d66e3`
I just spend a UTxO with inline datum from a V1 smart contract... am I missing something here? 🤔

EDIT: I think I kind of understand what is going on here...
So it seems like on version `11.0.5` `TransactionOu

[2022-10-12 12:55] #537 closed

[2022-10-13 01:38] NicholasMaselli commented on #536
I am getting a similar error and currently working on resolving this, I will update here if I make progress

[2022-10-13 07:39] lisicky commented on #536
@will991 thanks! We will investigate it soon.

@NicholasMaselli could you provide information about your case ?

[2022-10-13 08:18] twwu123 commented on #536
Current `calc_script_data_hash` function has some issues when it comes to ref datums and it also has some trouble including the right cost models. The workaround I've been using is simply to calculate and set the `script_data_hash` manually.

@will991 for your case, could you try

[code]

[2022-10-13 08:24] will991 commented on #536
@twwu123 thanks! This worked for me as well but only for a single script input. If I have multiple I still get:
[code]

It seems that the redeemers array only contains a single entry instead of 2  (for 2 script inputs)
[code]

[2022-10-13 08:25] will991 commented on #536
I suppose this may have to do with using `txBuilder#build_tx`.

[2022-10-13 08:26] twwu123 commented on #536
So I think there are some issues with multiple inputs from the same script due to the current implementation. @lisicky and I will do some more investigation, thanks a lot for the details.

[2022-10-13 08:48] NicholasMaselli opened #538 "PPViewHashesDontMatch when using PlutusV1"
I am currently working with rather old project (about 1 year old). The Cardano Serialization library version is 9.1.0 but I had not changed anything and then all of a sudden my transactions were getting this PPViewHashesDontMatch Error.

I'm confident the introduction of Plutus V2 caused the issue. But I can't seem to figure out a way to update this without completely rewriting my transaction syst

[2022-10-13 13:09] will991 commented on #538
How are you creating your costmodel? And what network are you testing on?

[2022-10-14 02:07] NicholasMaselli commented on #538
I resolved the issue by getting the new cost model from Blockfrost. Apparently, the V1 Plutus cost model was changed which I did not have knowledge of.

These protocol parameters and transaction builders resolved the issue:

[code]

[code]

[2022-10-17 03:25] 1612492 commented on #479
I have same issue. Any update?

[2022-10-17 08:39] longngn opened #540 "`calc_script_data_hash` doesn't support reference Plutus script"
https://github.com/Emurgo/cardano-serialization-lib/blob/master/rust/src/tx_builder.rs#L1658-L1675
If we use reference Plutus script, then `retained_cost_models` will be an empty map. However the node will expect it to be a map with Language v2 cost models, thus tx can't be submitted

[2022-10-17 08:42] longngn opened #541 "`calc_script_data_hash` doesn't consider empty datum list"
https://github.com/Emurgo/cardano-serialization-lib/blob/master/rust/src/tx_builder.rs#L1679
A use case is when using reference input to spend a script, the tx will have 0 datums in witness so we should pass `None` to `hash_script_data` here.
We can change to like this:

[code]

[2022-10-17 14:34] AngelCastilloB opened #542 "Memory managment of serialization lib on javascript"
Hi, I am currently trying to implement proper memory management and disposal of the CSL objects in the projects I have that use this library, but I would like to understand how far I need to go to properly dispose of all the objects, do I need to call free on every object that I create using one of the constructors, or is it enough to free the parent object?, for example, when creating a transacti

[2022-10-19 04:42] kang-chen commented on #493
Building a very similar txn from gathering utxos from nami and having same issue at signTx

code snippet:

[code]

Suggestion this error is far too generic and as I understand could be anything including wrong network destination address mismatch. Need a verbose error to understand what part of the input is actually wrong.

[2022-10-19 08:52] longngn opened #543 "`hash_script_data` accidentally frees datums object"
How to reproduce:

[code]

Logs:

[code]

[2022-10-19 11:24] vsubhuman commented on #543
@longngn , yeah this is an unfortunately a "feature" of this API developed a long time ago. The datums parameter in that Rust function is of type `Option<PlutusList>` so it cannot be properly passed by reference and is getting passed by value, which consumes that value, by the Rust rules.

Since then we have already made it a rule to never have `Option` type in function arguments and are trying to

[2022-10-19 15:02] AdamMachera commented on #538
I'm in the same situation that I have asset that was locked with cardano-serialization-lib 9.1.3

asset has been locked in smart contract on "2022-01-27 16:38:32.0202098"
datum in bytes: d866820084581c4da227a3922ebc27f57d1307f46e6e16d96c9d383a4e17726e7cbc6e1a0bebc200581c887e4d7b2e7d574484f8c780abef1599ce0bad1c751fb14ccdf9d4104f44696e6f536176696f723038343639
using cbor.me
102([0, [h'4DA227A3922EBC2

[2022-10-19 16:52] AdamMachera commented on #538
In our case the trick was to use latest cardano-serialization-lib 11 and for computing datum that would be compatible with old way that worked with CSL in version 9.1.3 was to abstract this piece of code

[code]

[2022-10-20 07:25] #536 closed

[2022-10-20 07:25] #541 closed

[2022-10-20 07:36] lisicky commented on #536
Fix will be in the next CSL release

[2022-10-20 07:36] lisicky commented on #541
Fix will be in the next CSL release

[2022-10-20 08:44] vsubhuman commented on #542
@AngelCastilloB , you do need to free every single object ever produced. Nearly always any data passed into a Rust call or received from Rust is cloned, to stop consuming of values from JS and preserve the usual JS code expectations. This means that there's no direct link between the value you have created in your JS code, e.g. a datum, and the value that it contained within a transaction struct,

[2022-10-24 09:25] Teodor-Iancu opened #545 "I try to send big amount of HOSKY but is work only in smaller portions under 1B"
I use 4 different addresses with the same issue.
The error in frontend: _An error occurred. Please retry._
The error in console:
`yoroi.bundle.js:1 Failed to construct tx change! missing input or output for some native asset
AdaApi::createUnsignedTxForUtxos error: "missing input or output for some native asset" `

If I change the amount to send from billions to millions is work

[2022-10-26 11:26] vsubhuman commented on #542
@AngelCastilloB , if I remember things correctly the issue is not in this function specifically but in the bindgen processing of `JsError` from Rust in general. Any time any JS error is thrown from a Rust/WASM call - it leaks memory, as the Rust produced error object is never returned into JS and instead is converted into a JS native thrown error so it cannot be freed.

The only solution to this i

[2022-10-26 16:08] rooooooooob commented on #542
@vsubhuman @AngelCastilloB  I believe this is what you're referring to rustwasm/wasm-bindgen#1963 which has been fixed already.

Just update the dependency, no need to add functionality.

[2022-10-26 16:11] rooooooooob commented on #542
Note: at least when we updated it in CML, it had some changes in how errors were handled (since there are both `JsValue` and `JsError` types in `wasm_bindgen` but we also had our own `JsError` type and some blanket use wasm_bindgen::*; statements made things use that instead). I am not sure if CSL will run into that exact issue since we did quite a bit of refactoring, but just a heads up.

[2022-10-27 13:54] vsubhuman commented on #542
@AngelCastilloB , this is actually my mistake to agree this is an issue that needs fixing. In your example the memory leak is not caused by the library at all. In the current latest library version just having a raised error does not cause a leak and if you change your example to something like this, it will not demonstrate a leak:

[code]

There will be no memory leak visible. The problem in your

[2022-10-27 14:45] gitmachtl commented on #545
You're not using decimals right? so its really 1B tokens?

[2022-10-30 20:13] lisicky commented on #545
Hi @Teodor-Iancu! Could you provide more information like used utxos and outputs in a tx ? Also there is case when "missing input or output for some native asset" means that you don't have enough ada to cover total output value + fee.

[2022-11-03 12:42] #524 closed

[2022-11-04 13:24] #542 closed, assigned to zuzunker

[2022-11-09 09:19] abdelkrimdev commented on #538
Hi @NicholasMaselli @will991 @lisicky @AdamMachera 😀
I went ahead and calculated a V1 LanguageView for Vasil, all you have to do is replace the old one with this:

[code]

No other changes are needed, of course this is just a temporary fix to resecue the assets locked in the SC using the older version of CSL.

Have a nice day and happy coding 😄

[2022-11-15 00:21] paulobressan opened #549 "Calculation of invalid rates"
Hi guys, how are you? I'm doing some tests with the lib using rust, so I created a simple application that generates a transaction based on the data contained in dbsync, so I just pass to the application, my staka address, asset that will be minted and the output addresses . But for some reason the transaction fee is invalid with the difference of 132 lovelace. And when you add more than one input

[2022-11-15 00:23] paulobressan commented on #549
if there is a better option to build transactions with mint tokens and multiple inputs and outputs, please show me?

[2022-11-15 00:26] paulobressan commented on #549
This is my test transaction

`84a50081825820def25e25fea268ef23d426a765e5b9f057c06e0a6cbe00f955d918f3449fde3500018282583900644dc73a19f9ada39d61b8802173823873554ac66e3d6ca8466e2aba510a57130a75b2a23a05c6b4d5aa52b83116a6a25e5970b8cbaa6b18821a333443f7a2581c1327bb881ba78c0560bc1632be8cc20284c36fb3eea02d08b8085cd9a44754686961676f31014754686961676f32014754686961676f33014754686961676f3401581cb563c601a79f31

[2022-11-15 08:27] TotallyNotChase opened #550 "CSL modifies transaction when deserializing from CBOR"
It seems like CSL is modifying a transaction during deserialization, thereby changing its transaction id. Furthermore, re-serializing it (without any modifications) yields a different cbor. I wanted to ask whether this behavior was intentional, and if so - what was the motivation for it.

Consider the tx cbor:

[code]

It is somewhat of a simple babbage era minting transaction, though it contains

[2022-11-15 08:52] lisicky commented on #549
Hi @paulobressan! Could you explain why you don't use `TransactionBuilder`? `TransactionBuilder` usually handles most situations with fee calculation. I strongly recommend using `TransactionBuilder` instead creating `tx` by "your hands". For a test, try to deserialize your `tx` from CBOR from your last message and call `min_fee` with deserialized `tx`, and you likely see that a new fee is differ f

[2022-11-15 09:23] lisicky commented on #550
Hi @TotallyNotChase! It is possible that CBOR after deserialization and serialization would be different because we don't store the original format for all structs in the CSL. For example, a map or an array or a tx output can be serialized differently with the same data. Array or map can be with definite and indefinite length, tx output can be serialized in Babbage or pre-Babbage format. And if yo

[2022-11-15 09:35] TotallyNotChase commented on #550
I suspected it was due to the ambiguity within arrays/maps/similar. However, this still does seem quite problematic to me.

The usecase currently sort of requires interfacing with CSL really. Unlike in the example, CSL _is_ actually used to modify the witness set and add signers to a transaction (with finalized tx body) returned by cardano-api. The issue is that the transaction id is changing due

[2022-11-15 09:55] lisicky commented on #550
Hm, we can add a new type similar to the Transaction type but with no deserialized tx body. Seems that it would help in your situation.

[2022-11-15 12:17] paulobressan commented on #549
Hi @lisicky, thanks for the answer. Do you have an example of mint using the builder? I tested it with him, but I had difficulty setting up the transaction. As I get X assets for mint, I did a for to mount the metadata and add it to mint and then I did another for to go through the utxos returned from db sync and create inputs and calculate the rate, if the rate is ok, I I stop the for and continu

[2022-11-15 20:02] paulobressan commented on #549
@lisicky Thank you for your help. I was having trouble using the builder, but I was studying how it was implemented and I managed to use it, it's much simpler now lol. Thanks

[2022-11-15 20:02] paulobressan commented on #549
@lisicky Thank you for your help. I was having trouble using the builder, but I was studying how it was implemented and I managed to use it, it's much simpler now lol. Thanks

[2022-11-15 20:02] #549 closed

[2022-11-17 00:41] HT-Moh commented on #329
maybe late, however -> using `cardano-serialization-lib` and `'cbor'` library you can create locking policy script like this
[code]

[2022-11-17 02:03] jinglescode commented on #329
Load CLI generated keys into cardano-serialization-lib:
[code]
See [Mesh docs](https://mesh.martify.io/apis/appwallet). It works!
With the `wallet`, you can do anything with cardano-serialization-lib on web app or node backend.

[2022-11-18 00:48] #540 closed

[2022-11-18 01:55] lisicky commented on #540
Fix will be in the next CSL release

[2022-11-23 21:43] bigirishlion opened #552 "TypeError: WebAssembly.Module(): Argument 0 must be a buffer source"
I'm getting this error when I run jest tests.

[code]

Any idea why this is happening?

[2022-11-24 09:37] abdelkrimdev opened #553 "Coin Selection doesn't consider the minimum ADA for change"
`add_inputs_from` [LargestFirstMultiasset] doesn't consider the minimum ADA for change output, thus sometimes we don't have enough ADA in a tx's inputs to cover for minimum ADA in change output if we call add_inputs_from then call add_change_if_needed we get `Not enough ADA leftover to include non-ADA assets in a change address`

[2022-11-24 10:33] lisicky commented on #553
Hi @abdelkrimdev! It's a known issue, the current implementation of `add_inputs_from` doesn't consider a change value. Before we fix it, I suggest adding one more input with only ada for a temporary workaround. Or you can add 1 one output with an expected change and call the `add_inputs_from` and after that, delete the output.

[2022-11-25 12:09] hoangong opened #554 "failed to parse Vkeywitness because its structure changed in babbage era"
This happens since version 1.35.4 where the default tx build is babbage-era

This is Vkeywitness from alonzo era:
[code]

and this is from babbage era
[code]

I could manually add two bytes `8200` prefix to the babbage era version to make it works. Is it something serializer should take into account?

[2022-11-25 15:00] lisicky commented on #554
Hi @hoangong ! Could you provide more information about what you do and what you expect ? I looked at [alonzo](https://github.com/input-output-hk/cardano-ledger/blob/master/eras/alonzo/test-suite/cddl-files/alonzo.cddl) cddl and [babbage](https://github.com/input-output-hk/cardano-ledger/blob/master/eras/babbage/test-suite/cddl-files/babbage.cddl) cddl and didn't see any difference for `vkeywitnes

[2022-11-25 15:42] hoangong commented on #554
Hi @lisicky From what I see, cardano-cli 1.35.4 generated tx witness differently (no `8200` prefix).

You can use these command to generate `txw.signed` file and compare the output.

[code]

The output from 1.35.4 has error when parse Vkeywitness. This is the code:

[code]

If I put "8200" prefix to txWitness, it works fine. what I expect is ada.Vkeywitness.from_bytes can read txWitness that is ge

[2022-11-25 16:17] lisicky commented on #554
@hoangong Could you tell me what you are doing by that line ? Does it work before ?

I have checked deserialization with you cbor and it works. You can use  `from_hex ` like in an example below.
[code]

[2022-11-25 16:23] hoangong commented on #554
@lisicky Thank for quick reply. `from_hex` works with output from cli 1.35.4
[code]
but not with output from cli 1.35.3
[code]

[2022-11-25 17:22] lisicky commented on #554
@hoangong  Seems cli 1.35.3 gives cbor in not from cddl format. CSL supports cbor in format that is described in the Alonzo and babbage cddl.

[2022-11-28 09:24] abdelkrimdev commented on #553
Yes, I already did that, but it's a hack, and it leads to some potential bugs in the future. I even built a mini coin selection here:
https://github.com/MartifyLabs/mesh/blob/main/packages/module/src/core/CIP2.ts
but fixing this at the CSL level could be much better.

[2022-11-28 10:46] vsubhuman commented on #542
@AngelCastilloB, thank you for the feedback! 🙌

[2022-11-28 10:46] vsubhuman commented on #542
A non-beta version `11.1.1` with this change is now published